<h1><%= _(' Import Products From File') %></h1>

<h3><%= _('Requirements') %></h3>
<ul>
  <li><%= _('Files must be one of the following formats: xls or xlsx') %>
  <li><%= _('Column headers must be in the correct order match headers in the database. HINT: Export existing products to file for reference.') %> </li>
 </ul>

<h5><%= _('Select File') %></h5>

<%= form_for @products_import do |f| %>
  <% if @products_import.errors.any? %>
    <%= pluralize(@products_import.errors.count, "error") %> 
    <%= _('prevented us from importing your spreadsheet. Please update your spreadsheet and try agin.') %> 
    <ul>
      <% @products_import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.file_field :file %>
  <%= f.submit _("Import Products") %>
<% end %>


