<p id="notice"><%= notice %></p>

<h1>Client Discounts</h1>

<%= link_to _('+ New Discount'), new_client_discount_path, :class => 'btn btn-secondary' %><br><br>

<table>
  <thead>
    <tr>
      <th>Discount name</th>
      <th>Client</th>
      <th>Discount per unit</th>
      <th>Discounted units</th>
      <th>Discounted units left</th>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @client_discounts.each do |client_discount| %>
      <tr>
        <td><%= client_discount.discount_name %></td>
        <td><%= client_discount.client_id %></td>
        <td><%= client_discount.discount_per_unit %></td>
        <td><%= client_discount.discounted_units %></td>
        <td><%= client_discount.discounted_units_left %></td>
        <td><%= client_discount.start_date.strftime("%d %b %Y") %></td>
        <td><%= client_discount.end_date.strftime("%d %b %Y") %></td>
        <td class="col-2">
          <%= link_to '<i class="fa-solid fa-eye"></i>'.html_safe, client_discount, class: "text-primary m-2" %>
          <%= link_to '<i class="fa-solid fa-pencil"></i>'.html_safe, edit_client_discount_path(client_discount), class: "text-secondary m-2" %>
          <%= link_to '<i class="fa-solid fa-trash-can"></i>'.html_safe, client_discount, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-danger m-2" %>
        </td>        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

