<%= form_with(model: inventory, local: true)  do |form| %>
  <% if inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
      <% inventory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h2>Add Inventory from Purchase</h2><hr>
<div  class="inventory_form">

       
        <div class="field">
          <%= form.label "Choose Product" %>       
          <%= form.collection_select(:purchase_product_id, PurchaseProduct.joins(:product).where("purchase_products.id not in (SELECT purchase_product_id
          FROM inventories where purchase_product_id is not null)"), :id, :p_o_name, {}, {class: "source"}) %>
        </div>

        <div class="field">
          <%= form.label "Purchase Order Id" %>
          <%= form.text_field :purchase_id, id: "purchase_id", class: "purchase-id greyed_out", :readonly => true %>
        </div>

        <div class="field">
          <%= form.label "Product Id" %>
          <%= form.text_field :product_id, id: "product_id", class: "product-id greyed_out", :readonly => true %>
        </div>

        <div class="field">
          <%= form.label "Supplier" %>
          <%= form.text_field :supplier_name, id: "supplier", class: "supplier greyed_out", :readonly => true %>
        </div>

        <div class="field">
          <%= form.label "Product" %>
          <%= form.text_field :product_name, id: "product_name", class: "product-name greyed_out", :readonly => true %>
        </div>                

        <div class="field">
          <%= form.label "Quantity" %>
          <%= form.text_field :purchase_quantity, id: "qt_received", class: "qt-received greyed_out", :readonly => true %>
        </div>

        <div class="field">
          <%= form.label "Purchase price" %>
          <%= form.text_field :purchase_price, id: "cost", class: "cost greyed_out", :readonly => true %>
        </div>

        <div class="field">
          <%= form.label "Subtotal" %>
          <%= form.text_field :purchase_subtotal, id: "subtotal", class: "subtotal greyed_out", :readonly => true %>
        </div>

          
        
  <div class="actions">
    <%= form.submit %>
  </div>
</div>

<% end %>


<script type="text/javascript">

/////////////////  INVENTORY AUTO-FILL //////////////////////


$(document).ready(function() {
        function updateProductInfo(){
                $.ajax({ 
                url: "/purchases/product_info",
                data: { id: $(this).val() },
                type: "GET",
                success: function(data) {
                  $(".product-name").val(data["product_name"]);
                  $(".qt-received").val(data["qt"]);
                  $(".cost").val(data["cost"]);
                  $(".supplier").val(data["supplier"]);
                  $(".subtotal").val(data["subtotal"]);
                  $(".purchase-id").val(data["purchase_id"]);
                  $(".product-id").val(data["product_id"]);
                  }
            });
        }
      $(document).on('change', ".source", updateProductInfo);
      $(".source").each(updateProductInfo);
  });  

$(".chosen-select").chosen({
  no_results_text: "Oops, nothing found!"
})

</script>


