<%= form_with(model: inventory, local: true)  do |form| %>
  <% if inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
      <% inventory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div  class="inventory_form">

       
        <div class="field">
          <%= form.label _("Choose Product") %>       
          <%= form.collection_select(:purchase_product_id, PurchaseProduct.joins(:product).where("purchase_products.id not in (SELECT purchase_product_id
          FROM inventories where purchase_product_id is not null)"), :id, :p_o_name, {:prompt => _("Select Product")}, {class: "source form-control"}) %>
        </div>

        <div class="field">
          <%= form.label _("Product Id") %>
          <%= form.text_field :product_id, id: "product_id", class: "product-id greyed_out form-control", :readonly => true %>
        </div>

        <div class="field">
          <%= form.label _("Supplier") %>
          <%= form.text_field :supplier_name, id: "supplier", class: "supplier greyed_out form-control", :readonly => true %>
        </div>               

        <div class="field">
          <%= form.label _("Quantity") %>
          <%= form.text_field :remaining_quantity, id: "qt_received", class: "qt-received greyed_out form-control", :readonly => true %>
        </div>

        <div class="field">
          <%= form.label _("Purchase price") %>
          <%= form.text_field :purchase_price, id: "cost", class: "cost greyed_out form-control", :readonly => true %>
        </div>

        <div class="field">
          <%= form.label _("Total") %>
          <%= form.text_field :purchase_subtotal, id: "subtotal", class: "subtotal greyed_out form-control", :readonly => true %>
        </div>

          
        
  <div class="actions">
    <%= form.submit _("Create Inventory"), :class => 'btn btn-success' %>
  </div>
</div>

<% end %>


<script type="text/javascript">

/////////////////  INVENTORY AUTO-FILL //////////////////////


$(document).ready(function() {
        function updateProductInfo(){
                $.ajax({ 
                url: "<%= purchases_get_product_info_path %>", 
                data: { id: $(this).val() },
                type: "GET",
                success: function(data) {
                  $(".qt-received").val(data["qt"]);
                  $(".cost").val(data["cost"]);
                  $(".supplier").val(data["supplier"]);
                  $(".subtotal").val(data["subtotal"]);
                  $(".product-id").val(data["product_id"]);
                  }
            });
        }
      $(document).on('change', ".source", updateProductInfo);
      $(".source").each(updateProductInfo);
  });  


</script>


