<div class="marginRight">
    <%= form_with(model: inventory, local: true) do |form| %>
      <% if inventory.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

          <ul>
          <% inventory.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :purchase_product %>
        <%= form.collection_select(:purchase_product_id, PurchaseProduct.all, :id, :display_text, {}, {class: "purchase-picker"}) %>
      </div>

      <div class="field">
        <%= form.label _('Product') %>
        <%= form.collection_select(:product_id, Product.all, :id, :product_name, {}, {class: "product_name"}) %>
      </div>

      <div class="field">
        <%= form.label :date %>
        <%= form.date_select :date %>
      </div>

      <div class="field">
        <%= form.label _('Amount') %>
        <%= form.number_field :amount, class: "quantity", :readonly => true %>
      </div>

      <div class="field">
        <%= form.label _('Price_per_unit') %>
        <%= form.text_field :price_per_unit, class: "price_per_unit", :readonly => true %>
      </div>

      <div class="field">
        <%= form.label _('Costs') %>
        <%= form.text_field :costs, class: "est_subtotal", :readonly => true %>
      </div>

      <% if !inventory.purchase_product.blank? %>
        <button type="button"><a href="/purchases/<%= inventory.purchase_product.purchase_id %>/edit" >Purchases: <%= inventory.purchase_product.purchase_id %></a></button>
      <% end %>

      <div class="actions">
        <%= form.submit %>
      </div>

      <script type="text/javascript">
        $(document).ready(function() {
            function updateSelectedPurchaseProduct(){
              $.ajax({ 
                url: "/purchases/estimates",
                data: { id: $(this).val() },
                type: "GET",
                success: function(data) {
                  $('.quantity').val(data['estimated_quantity']);
                  $('.price_per_unit').val(data['estimated_price_per_unit']);
                  $('#inventory_product_id').val(data['product_id']);
                  $('.est_subtotal').val(data['estimated_subtotal']);
                }
              });
            }
        $(document).on('change', '.purchase-picker', updateSelectedPurchaseProduct);
        $(".purchase-picker").each(updateSelectedPurchaseProduct);
        });
      </script>
    <% end %>
</div>
