<p id="notice"><%= notice %></p>

<h1>Inventory Records</h1>

<hr>
<%= link_to '+ Add to Inventory', new_inventory_path, :class => "button big_button green" %>
<br><br>

<table>
  <thead>
    <tr>
      <th>Product Name</th>
      <th align="right">Remaining Qty</th>
      <th>Inventory Id</th>
      <th>Product Id</th>
      <th>Production Id</th>
      <th>Purchase Id</th>
      <th>P.O. Product Id</th>
      <th>Date added</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventories.each do |inventory| %>
      <% next if inventory.product.nil? %>
      <tr>
        <td><%= inventory.product.product_name %></td>
        <td align="right"><%= inventory.remaining_quantity %> <%= inventory.product.unit %></td>
        <td align="center"><%= inventory.id %></td>
        <td align="center"><%= inventory.product_id %></td>
        <td align="center"><%= inventory.production_id %></td>
        <td align="center"><%= inventory.purchase_id %></td>
        <td align="center"><%= inventory.purchase_product_id %></td>
        <td align="center"><%= inventory.created_at.strftime("%d %b %Y") %></td>

        <td><%= link_to 'Show', inventory, class: "show" %></td>
        <td><%= link_to 'Edit', edit_inventory_path(inventory), class: "edit" %></td>
        <td><%= link_to 'Destroy', inventory, method: :delete, data: { confirm: 'Are you sure?' }, class: "destroy" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



