<p id="notice"><%= notice %></p>

<h1>Inventories</h1>

<%= form_tag inventories_path, :method => 'get' do %>
  <p>Search for one:
    <%= text_field_tag :search, params[:search], placeholder: "ID, name etc." %>    
  <p>Search for multiple: 
      <% options = Product.all.collect{ |u| [u.product_name, u.id] } %>
        <% options = [["Select All", nil]] + options %>
      <%= select_tag 'product_select[]', options_for_select(options, params[:product_select]), :multiple => :multiple, :class => "chosen-select"%>      
  <p>From:
      <% start_date_value = 1.month.ago.strftime("%d - %m - %Y") %>
      <% end_date_value = Date.today.strftime("%d - %m - %Y") %>
      <%= text_field_tag 'start_date', params[:start_date], :class => "datepicker", :autocomplete => "off" %>
      To:
      <%= text_field_tag 'end_date', params[:end_date], :class => "datepicker", :autocomplete => "off" %>
      <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<script>
    $( function() {
      $( ".datepicker" ).datepicker({ dateFormat: 'dd-mm-yy'});
    } );
</script>

<table>
  <thead>
    <tr>
      <th><%= sortable "product_id" %></th>
      <th><%= sortable "product_name" %></th>
      <th><%= sortable "date" %></th>
      <th><%= sortable "amount" %></th>
      <th><%= sortable "price_per_unit" %></th>
      <th><%= sortable "costs" %></th>
      <th><%= sortable "current_amount_left" %></th>
      <th><%= sortable "value_of_item" %></th>
      <th colspan="8"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= inventory.product_id %></td>
        <td><%= inventory.product.product_name %></td>
        <td><%= inventory.date.strftime("%d-%m-%Y") %></td>
        <td><%= inventory.amount %></td>
        <td><%= inventory.price_per_unit %></td>
        <td><%= inventory.costs %></td>
        <td><%= inventory.current_amount_left %></td>
        <td><%= inventory.value_of_item %></td>
        <td><%= link_to 'Show', inventory %></td>
        <td><%= link_to 'Edit', edit_inventory_path(inventory) %></td>
        <td><%= link_to 'Destroy', inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script type="text/javascript">  
  $(".chosen-select").chosen({
  no_results_text: "Oops, nothing found!"
  })
</script>
<%= link_to 'Log Inventory', new_inventory_path %>
