<p id="notice"><%= notice %></p>

<h1><%= _("Inventory Records") %></h1>

<%= link_to _('+ Add to Inventory'), new_inventory_path, :class => "btn btn-secondary" %><br><br>
<br><br>



<table>
  <thead>
    <tr>
      <th><%=_("Inventory Id") %></th>
      <th><%=_("Product Name") %></th>
      <th align="right"><%=_("Remaining Qty") %></th>
      <th align="right"><%=_("Cost per Unit") %></th>      
      <th><%=_("Product Id") %></th>
      <th><%=_("Production Id") %></th>
      <th><%=_("Purchase Id") %></th>
      <th><%=_("P.O. Product Id") %></th>
      <th><%=_("Date added") %></th>
      <th colspan="9"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventories.each do |inventory| %>
      <% next if inventory.product.nil? %>
      <tr>
        <td align="center"><%= inventory.id %></td>
        <td><%= inventory.product.product_name %></td>
        <td align="right"><%= number_with_precision(inventory.remaining_quantity, :precision => 2) %> <%= inventory.product.unit %></td>
        <td align="right"><%= number_with_precision(inventory.cost_per_unit, :precision => 2) %></td>
        <td align="center"><%= inventory.product_id %></td>
        <td align="center"><%= inventory.production_id %></td>
        <td align="center"><%= inventory.purchase_id %></td>
        <td align="center"><%= inventory.purchase_product_id %></td>
        <td align="center"><%= inventory.created_at.strftime("%d %b %Y") %></td>

        <td><%= link_to '<i class="fa-solid fa-eye"></i>'.html_safe, inventory, class: "text-primary" %></td>
        <td><%= link_to '<i class="fa-solid fa-pencil"></i>'.html_safe, edit_inventory_path(inventory), class: "text-secondary" %></td>
        <td><%= link_to '<i class="fa-solid fa-trash-can"></i>'.html_safe, inventory, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>






