<p id="notice"><%= notice %></p>

<p>
  <strong><%= _('Inventory Id:') %></strong>
  <%= @inventory.id %>
</p>

<p>
  <strong><%= _('Product Id:') %></strong>
  <%= @inventory.product_id %>
</p>

<p>
  <strong><%= _('Product Name:') %></strong>
  <%= @inventory.product.product_name %>
</p>

<p>
  <strong><%= _('Purchase Order Id:') %></strong>
  <%= @inventory.purchase_id %>
</p>

<p>
  <strong><%= _('Purchase Order Product Id:') %></strong>
  <%= @inventory.purchase_product_id %> 
</p>

<p>
  <strong><%= _('Remaining Qt:') %></strong>
  <%= @inventory.remaining_quantity %>
</p>

<p>
  <strong><%= _('Cost per Unit:') %></strong>
  <%= @inventory.cost_per_unit %>
</p>

<%= link_to _('Edit'), edit_inventory_path(@inventory) %> |
<%= link_to _('Back'), inventories_path %>

<script type="text/javascript">

