<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Select Recipe" %>
        <%= form.collection_select :product_id, Product.all, :id, :product_name, {}, {class: "recipe"} %>
    </div>

      <h2>Ingredients</h2><hr>

        <%= form.fields_for :recipe_products do |builder| %>
          <%= render 'recipe_product_fields', form: builder %>
        <% end %>      

        <div class="pad-bottom"> 
            <%= link_to_add_fields "Add Ingredient", form, :recipe_products %>
        </div>


  <div class="field">
    <%= form.label :yield %>
    <%= form.number_field :yield, class: "yield" %>
  </div>

  <div class="field">
    <%= form.label :units %>
    <%= form.text_field :units, class: "units greyed_out", :readonly => true %>
  </div>

  <div class="field">
    <%= form.label :recipe_cost %>
    <%= form.text_field :recipe_cost, id: "recipe_total", class: "recipe-cost greyed_out", :readonly => true %>
  </div>
<br>
  <div class="field">
    <%= form.label :instructions %>
    <%= form.text_area :instructions, class: "instructions" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  
<% end %>

<script type="text/javascript">

///////////////// AUTO-FILL //////////////////////

 
$(document).ready(function() {
  $(this).on("change load", ".ingredient", updateIngredientInfo);   
  $(document).on("change load", ".recipe", getUnit);   
  $(document.body).on("change load", ".amount, .ingredient", calcIngredientTotals);
  $(document).on("change load", ".amount, .ingredient", calcRecipeTotal);


  function updateIngredientInfo(){
              var self = this;
              $.ajax({ 
                  url: "/recipe_products/recipe_info",
                  data: { id: $(this).val() },
                  type: "GET",
                  success: function(data) {
                    $(self).parents(".nested-fields").find(".cost-per-kg").val(data["price_per_kg"]);                  
                  }
              });
          }

  function loadIngredientInfo(){
              var self = this;
              $.ajax({ 
                  url: "/recipe_products/recipe_info",
                  data: { id: $(this).val() },
                  type: "GET",
                  success: function(data) {
                    $(self).parents(".nested-fields").find(".cost-per-kg").val(data["price_per_kg"]);                  
                  }
              });
          }

    function getUnit() {
                $.ajax({ 
                  url: "/recipe/unit",
                  data: { id: $(this).val() },
                  type: "GET",
                  success: function(data) {
                    $(".units").val(data["unit"]);
                    }
                  });
                };
        
         

  //////////////////  TOTALS AUTO-CALC  /////////////////////

    function calcRecipeTotal() {
        var recipeTotal = 0
          $(".ingredient-total").each(function() {
              recipeTotal += parseFloat($(this).val());
          $("#recipe_total").val(recipeTotal);
      });
    };      

     function calcIngredientTotals() {

          var ingredientCost = parseFloat($(this).parents(".nested-fields").find(".cost-per-kg").val());
          var ingredientAmount = parseFloat($(this).parents(".nested-fields").find(".amount").val());
          var ingredientTotal = ((ingredientAmount || 0)/1000) * (ingredientCost || 0);

          $(this).parents(".nested-fields").find(".ingredient-total").val(ingredientTotal);                
      };

          
  $(".chosen-select").chosen({
    no_results_text: "Oops, nothing found!"
  })
});
</script>



