  
   
<div class="nested-fields">
      <div class="field">
      <%= form.label _("Select Ingredient") %>
          <%= form.collection_select :product_id, Product.all, :id, :product_name, {}, {class: "form-control ingredient"} %>
      </div>
      <div class="field">
        <%= form.label _("Amount (g)") %>
        <%= form.number_field :amount, id: 'amount', class: 'form-control amount' %>
      </div>
      <div class="field">
        <%= form.label _("Cost per kg") %>
        <%= form.number_field :cost_per_kg, class: 'form-control cost-per-kg greyed_out', :readonly => true %>
      </div>
      <div class="field">
        <%= form.label _("Ingredient Cost") %>
        <%= form.number_field :ingredient_total, id: 'ingredient_total', class: 'form-control ingredient-total greyed_out', :readonly => true %>
      </div>
      <div class="field">
        <%= form.hidden_field :_destroy, class: "nested-field-destroy" %>
        <%= link_to _("Remove"), "#", class: "remove_fields btn btn-danger" %>
      </div>
    <hr>
    <br>
</div>



  




    

  
    



  