<div class="nested-fields">
    <%= form.hidden_field :_destroy %>
    <h2><%= _('Add Ingredient') %></h2>
  <p>
    <div class="field">
        <%= form.collection_select :product_id, Product.all, :id, :product_name %>
    </div>
    <div class="field">
      <%= form.label _('Product amount') %>
      <%= form.text_field :product_amount %>
    </div> 
    <div class="field">
      <%= form.label _('Product price') %>
      <%= form.text_field :product_price %>
    </div>    
    <div class="field">
      <%= form.label _('Product subtotal') %>
      <%= form.text_field :product_subtotal %>
    </div>
  </p> 
    <div>
      <%= link_to _("Remove"), '#', class: "remove_fields" %>
    </div>
<hr>
</div>

