<div class="nested-fields">
    
  
    <div class="field">
        <%= form.collection_select :product_id, Product.all, :id, :product_name, {}, {:class => "form-control"} %>
    </div>
  <p>
    <div class="field">
      <%= form.label _('Product amount') %>
      <%= form.text_field :product_amount, :class => "form-control" %>
    </div> 
    <div class="field">
      <%= form.label _('Product price') %>
      <%= form.text_field :product_price, :class => "form-control" %>
    </div>    
    <div class="field">
      <%= form.label _('Product subtotal') %>
      <%= form.text_field :product_subtotal, :class => "form-control", :readonly => true %>
    </div>
    <div class="field">
      <%= form.hidden_field :_destroy %>
      <%= link_to _("Remove"), '#', class: "remove_fields btn btn-danger" %>
    </div>
  </p> 
    
<hr>
</div>

