<p id="notice"><%= notice %></p>

<h1><%= _('Recipes') %></h1>

<%= link_to _('+ New Recipe'), new_recipe_path, :class => "btn btn-secondary" %><br><br>
<br><br>

<table>
  <thead>
    <tr>
      <th class="col-1"><%= _('Recipe Id') %></th>
      <th class="col-2"><%= _('Recipe Name') %></th>
      <th class="col-1"><%= _('Product Id') %></th>
      <th class="col-2"><%= _('Product Name') %></th>
      <th class="col-1 align_right"><%= _('Recipe cost') %></th>
      <th class="col-1 align_right"><%= _('Yield') %></th>
      <th class="col-3"><%= _('Instructions') %></th>
      <th class="col-1"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.id %></td>
        <td><%= recipe.recipe_name %></td>
        <td><%= recipe.product_id %></td>
        <td><%= recipe.product.product_name %></td>
        <td class="align_right"><%= number_with_precision(recipe.recipe_cost, :precision => 2) %></td>
        <td class="align_right"><%= recipe.yield %></td>
        <td><%= recipe.instructions %></td>
        <td>
          <%= link_to '<i class="fa-solid fa-eye"></i>'.html_safe, recipe, class: "text-primary m-2" %>
          <%= link_to '<i class="fa-solid fa-pencil"></i>'.html_safe, edit_recipe_path(recipe), class: "text-secondary m-2" %>
          <%= link_to '<i class="fa-solid fa-trash-can"></i>'.html_safe, recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-danger m-2" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

