<p id="notice"><%= notice %></p>

<h1>Recipes</h1>
<hr>
<%= link_to '+ New Recipe', new_recipe_path, :class => "button big_button green" %>
<br><br>

<table>
  <thead>
    <tr>
      <th>Recipe Id</th>
      <th>Recipe cost</th>
      <th>Yield</th>
      <th>Instructions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.product_id %></td>
        <td><%= recipe.recipe_cost %></td>
        <td><%= recipe.yield %></td>
        <td><%= recipe.instructions %></td>
        <td><%= link_to 'Show', recipe, class: "show" %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe), class: "edit" %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: "destroy" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


