<p id="notice"><%= notice %></p>

<h1><%= _('Recipes') %></h1>

<%= link_to _('+ New Recipe'), new_recipe_path, :class => "btn btn-secondary" %><br><br>
<br><br>

<table>
  <thead>
    <tr>
      <th><%= _('Recipe Id') %></th>
      <th><%= _('Recipe Name') %></th>
      <th><%= _('Product Id') %></th>
      <th><%= _('Product Name') %></th>
      <th><%= _('Recipe cost') %></th>
      <th><%= _('Yield') %></th>
      <th><%= _('Instructions') %></th>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.id %></td>
        <td><%= recipe.recipe_name %></td>
        <td><%= recipe.product_id %></td>
        <td><%= recipe.product.product_name %></td>
        <td align="right"><%= number_with_precision(recipe.recipe_cost, :precision => 2) %></td>
        <td align="right"><%= recipe.yield %></td>
        <td><%= recipe.instructions %></td>
        <td><%= link_to '<i class="fa-solid fa-eye"></i>'.html_safe, recipe, class: "text-primary" %></td>
        <td><%= link_to '<i class="fa-solid fa-pencil"></i>'.html_safe, edit_recipe_path(recipe), class: "text-secondary" %></td>
        <td><%= link_to '<i class="fa-solid fa-trash-can"></i>'.html_safe, recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

