<p id="notice"><%= notice %></p>

<p>
  <strong>Recipe:</strong>
  <%= @recipe.recipe_id %>
</p>

<p>
  <strong>Recipe name:</strong>
  <%= @recipe.recipe_name %>
</p>

<p>
  <strong>Cooking instructions:</strong>
  <%= @recipe.cooking_instructions %>
</p>

<p>
  <strong>Grand total:</strong>
  <%= @recipe.grand_total %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
