<p id="notice"><%= notice %></p>

<p>
  <strong>Product Id:</strong>a
  <%= @recipe.product_id %>
</p>

<p>
  <strong>Recipe cost:</strong>
  <%= @recipe.recipe_cost %>
</p>

<p>
  <strong>Yield:</strong>
  <%= @recipe.yield %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @recipe.instructions %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
