<p id="notice"><%= notice %></p>

<p>
  <strong><%= _("Product Id:") %></strong>a
  <%= @recipe.product_id %>
</p>

<p>
  <strong><%= _("Recipe cost:") %></strong>
  <%= @recipe.recipe_cost %>
</p>

<p>
  <strong><%= _("Yield:") %></strong>
  <%= @recipe.yield %>
</p>

<p>
  <strong><%= _("Instructions:") %></strong>
  <%= @recipe.instructions %>
</p>

<%= link_to _('Edit'), edit_recipe_path(@recipe) %> |
<%= link_to _('Back'), recipes_path %>
