<div class="row ml-4">
  <%= form_with(model: user, local: true) do |form| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="form-group">
      <%= form.label :user_name %>
      <%= form.text_field :user_name, :class => "form-control", size: 30 %>
    </div>

    <div class="form-group">
      <%= form.label :email %>
      <%= form.text_field :email, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :password %>
      <%= form.password_field :password, autocomplete: "current-password", class: "form-control" %>
    </div>

    <%= form.fields_for :role_user do |builder| %>
      <%= render 'role_user_permissions_fields', form: builder %>
    <% end %>

    <div class="actions">
      <%= form.submit "#{user.id.nil? ? "Create" : "Update"} User", :class => 'text-light btn btn-primary' %>
    </div>
  <% end %>
</div>