<div class="nested-fields">
    

    <div class="field">
        <%= form.collection_select :product_id, Product.all, :id, :product_name, {}, {class: "product-picker form-control"} %>
    </div>
  
  <p>

    <div class="field">
      <h5>Estimates:</h5>
    </div>
    
    <div class="field">
      <%= form.label _('Quantity') %>
      <%= form.number_field :estimated_quantity, class: "est_quantity form-control" %>
    </div>

    <div class="field">
      <%= form.label _('Price per unit') %>
      <%= form.number_field :estimated_price_per_unit, class: "sale-price-field est_price form-control" %>
    </div>  

    <div class="field">
      <%= form.label _('Subtotal') %>
      <%= form.number_field :estimated_subtotal, class: "est_subtotal form-control", :readonly => true %>
    </div>
 
  <p>
    <div class="field">
      <h5>Actuals:</h5>
    </div>
    
    <div class="field">
      <%= form.label _('Quantity') %>
      <%= form.number_field :actual_quantity, class: "act_quantity form-control" %>
    </div>

    <div class="field">
      <%= form.label _('Price per unit') %>
      <%= form.number_field :actual_price_per_unit, class: "sale-price-field act_price form-control" %>
    </div>

    <div class="field">
      <%= form.label _('Subtotal') %>
      <%= form.number_field :actual_subtotal, class: "act_subtotal form-control", :readonly => true %>
    </div>

    <div class="field">
        <%= form.hidden_field :_destroy %>
        <%= link_to _("Remove"), '#', class: "remove_fields btn btn-danger" %>
    </div>

    <% form.object.inventories.each do |inv| %>
      <button type="button"><a href="/inventories/<%= inv.id %>/edit" >Inventory: <%= inv.id %></a></button>
    <% end %>
  </p>
  
<hr>
</div>