  
   
<div class="nested-fields">
  <div class="field col-3">
    <%= form.label _("select product") %>
    <%= form.select :product_id, ([['+ Create New Product', '-1']] + @raw_products.map{ |c| [c.product_name, c.id] }), {:prompt => 'Choose a Product'}, :class => "form-control product-select" %>
  </div>

<%# ----------------------------------New Product------------------------------------- %>
  <div style="display: none;" class="container col-6 mt-3 col-7 mb-3 new-product">
    <%= form.fields_for :products do |product_attributes|%>
    <div class="row">
        <div class="col-4">
            <%= product_attributes.label :product_name, "Product Name:" %>
            <%= product_attributes.text_field :product_name, class: "form-control" %>
        </div>
        <div class="col-4">
            <%= product_attributes.label :price, "Price:" %>
            <%= product_attributes.text_field :price, class: "form-control" %>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <%= product_attributes.label :unit, "Unit:" %>
            <%= product_attributes.text_field :unit, class: "form-control" %>
        </div>
        <div class="col-4">
            <%= product_attributes.label :grams_per_unit, "Grams per unit:" %>
            <%= product_attributes.text_field :grams_per_unit, class: "form-control" %>
        </div>
        <% end %>
    </div>  
  </div>
  <%# ----------------------------------END New Product------------------------------------- %>
  <br>

    <div class="indent">
        <div class="field">
          <%= form.label _("Quantity") %>
          <%= form.number_field :purchase_quantity, id: 'actual_quantity', class: 'act_qt form-control' %>
        </div>
        <div class="field">
          <%= form.label _("Cost per Unit") %>
          <%= form.number_field :purchase_price, id: 'actual_price', class: 'act_cost form-control form-control' %>
        </div>
        <div class="field">
          <%= form.label _("Subtotal") %>
          <%= form.number_field :purchase_subtotal, id: 'actual_subtotal', class: 'actual_subtotal greyed_out form-control', :readonly => true  %>
        </div>

        <div class="field align-bottom">
          <%= form.hidden_field :_destroy, class: "nested-field-destroy" %>
          <%= link_to _("Remove"), "#", class: "remove_fields btn btn-danger text-light" %>
        </div>
    </div>
    <hr>
  <br>
</div>








  
    



  