<div class="nested-fields">
    <div class="field">
        <%= form.select(:product_id, [["+New Product", "-1"]] + Product.all.collect {|p| [p.product_name, p.id]}, {include_blank: "Select Product"}, {class: "product-picker form-control"}) %>
    </div>
    <div class="AddNewProduct field" style="display: none;">
        <div class="field">
          <%= form.label :product_name, "Product Name" %>
          <%= form.text_field :product_name, class: "form-control" %>
        </div>
        <div class="field">
          <%= form.label :price, "Price" %>
          <%= form.number_field :price, class: "form-control" %>
        </div>
        <div class="field">
          <%= form.label :unit, "Unit" %>
          <%= form.text_field :unit, class: "form-control" %>
        </div>
        <div class="field">
          <%= form.label :categories, "Category" %>
          <%= form.text_field :categories, class: "form-control" %>
        </div>
    </div>
  <p>
    <div class="field">
      <h5>Estimates:</h5>
    </div>
    
    <div class="field">
      <%= form.label _('Quantity') %>
      <%= form.number_field :estimated_quantity, class: "est_quantity form-control" %>
    </div>

    <div class="field">
      <%= form.label _('Price per unit') %>
      <%= form.number_field :estimated_price_per_unit, class: "sale-price-field est_price form-control" %>
    </div>  

    <div class="field">
      <%= form.label _('Subtotal') %>
      <%= form.number_field :estimated_subtotal, class: "est_subtotal form-control", :readonly => true %>
    </div>
  <p>
    <div class="field">
      <h5>Actuals:</h5>
    </div>
    
    <div class="field">
      <%= form.label _('Quantity') %>
      <%= form.number_field :actual_quantity, class: "act_quantity form-control" %>
    </div>

    <div class="field">
      <%= form.label _('Price per unit') %>
      <%= form.number_field :actual_price_per_unit, class: "sale-price-field act_price form-control" %>
    </div>

    <div class="field">
      <%= form.label _('Subtotal') %>
      <%= form.number_field :actual_subtotal, class: "act_subtotal form-control", :readonly => true %>
    </div>

    <div class="field">
        <%= form.hidden_field :_destroy %>
        <%= link_to _("Remove"), '#', class: "remove_fields btn btn-danger" %>
    </div>

    <% form.object.inventories.each do |inv| %>
      <button type="button"><a href="/inventories/<%= inv.id %>/edit" >Inventory: <%= inv.id %></a></button>
    <% end %>
  </p>
<hr>
</div>

<script>
  $(document).on('change', '.product-picker', function() {
    var value = $(this).val() == '-1'
    
    // var el = $(this);
    // var parent = el.parents(".nested-fields")
    // var addnew = parent.find('.AddNewProduct')
    // addnew.toggle(value)

    $(this).parents(".nested-fields").find(".AddNewProduct").toggle(value)
  })
</script>