<div class="nested-fields">
    <%= form.hidden_field :_destroy %>
    <h2><%= _('Add Product') %></h2>

    <div class="field">
        <%= form.collection_select :product_id, Product.all, :id, :product_name, {}, {class: "product-picker"} %>
    </div>
  
  <p>
    <strong>Estimates:</strong>
    <div class="field">
      <%= form.label _(':quantity') %>
      <%= form.number_field :estimated_quantity, class: "est_quantity" %>
    </div>

    <div class="field">
      <%= form.label _(':price_per_unit') %>
      <%= form.number_field :estimated_price_per_unit, class: "sale-price-field est_price" %>
    </div>  

    <div class="field">
      <%= form.label _(':subtotal') %>
      <%= form.number_field :estimated_subtotal, class: "est_subtotal", :readonly => true %>
    </div>
 
  <p>
    <strong>Actuals:</strong>
    <div class="field">
      <%= form.label _(':quantity') %>
      <%= form.number_field :actual_quantity, class: "act_quantity" %>
    </div>

    <div class="field">
      <%= form.label _(':price_per_unit') %>
      <%= form.number_field :actual_price_per_unit, class: "sale-price-field act_price" %>
    </div>

    <div class="field">
      <%= form.label _(':subtotal') %>
      <%= form.number_field :actual_subtotal, class: "act_subtotal", :readonly => true %>
    </div>

    <% form.object.inventories.each do |inv| %>
      <button type="button"><a href="/inventories/<%= inv.id %>/edit" >Inventory: <%= inv.id %></a></button>
    <% end %>
  </p>
  
    <div>
      <%= link_to _("Remove"), '#', class: "remove_fields" %>
    </div>
<hr>
</div>