  
   
<div class="nested-fields">
   

      <div class="field">
        <%= form.label _("select product") %>
        <%= form.collection_select :product_id, @raw_products, :id, :product_name, {:prompt => _("Select Product")}, { :class => 'product-select form-control' } %>
      </div>
      <br>

    <div class="indent">
        <div class="field">
          <%= form.label _("Quantity") %>
          <%= form.number_field :purchase_quantity, id: 'actual_quantity', class: 'act_qt form-control' %>
        </div>
        <div class="field">
          <%= form.label _("Cost") %>
          <%= form.number_field :purchase_price, id: 'actual_price', class: 'act_cost form-control form-control' %>
        </div>
        <div class="field">
          <%= form.label _("Subtotal") %>
          <%= form.number_field :purchase_subtotal, id: 'actual_subtotal', class: 'actual_subtotal greyed_out form-control', :readonly => true  %>
        </div>

        <div class="field align-bottom">
          <%= form.hidden_field :_destroy, class: "nested-field-destroy" %>
          <%= link_to _("Remove"), "#", class: "remove_fields btn btn-danger text-light" %>
        </div>
    </div>
    <hr>
  <br>
</div>



  




    

  
    



  