  
   
<div class="nested-fields">
   

      <div class="field">
      <%= form.label _("select product") %>
          <%= form.collection_select :product_id, Product.all, :id, :product_name, {:prompt => "Select Product"}, { :class => 'form-control' } %>
      </div>
      <br>

    <div class="indent">
        <div class="field">
          <%= form.label _("Estimated quantity") %>
          <%= form.number_field :estimated_quantity, id: 'estimated_quantity', class: 'est_qt form-control' %>
        </div>
        <div class="field">
          <%= form.label _('Estimated cost') %>
          <%= form.number_field :estimated_cost, id: 'estimated_cost', class: 'est_cost form-control' %>
        </div>   
        <div class="field">
          <%= form.label _("Estimated subtotal") %>
          <%= form.number_field :estimated_subtotal, id: 'estimated_subtotal', class: 'estimated_subtotal greyed_out form-control', :readonly => true  %>
        </div><br>

        <div class="field">
          <%= form.label _("Actual quantity") %>
          <%= form.number_field :purchase_quantity, id: 'actual_quantity', class: 'act_qt form-control' %>
        </div>
        <div class="field">
          <%= form.label _("Actual cost") %>
          <%= form.number_field :purchase_price, id: 'actual_price', class: 'act_cost form-control form-control' %>
        </div>
        <div class="field">
          <%= form.label _("Actual Subtotal") %>
          <%= form.number_field :purchase_subtotal, id: 'actual_subtotal', class: 'actual_subtotal greyed_out form-control', :readonly => true  %>
        </div>

        <div class="field align-bottom">
          <%= form.hidden_field :_destroy, class: "nested-field-destroy" %>
          <%= link_to _("Remove"), "#", class: "remove_fields btn btn-danger text-light" %>
        </div>
    </div>
    <hr>
  <br>
</div>



  




    

  
    



  