<h1>Editing Purchase</h1>

<%= render 'form', purchase: @purchase %>

<%= link_to 'Show', @purchase %> |
<%= link_to 'Back', purchases_path %> |
<%= link_to 'Back To Inventories', inventories_path %>

<a href="/inventories/<%= @purchase.inventory.purchase_product_id %>/edit" >This Product in the Inventory Edit</a>

<%= link_to @purchase.inventory.purchase_product_id, edit_inventories_path %>

