<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>

<p id="notice"><%= notice %></p>

<h1><%= _('Purchases') %></h1>

<%= form_tag purchases_path, :method => 'get' do %>
  <p><%= _('Search for one') %>:
    <%= text_field_tag :search, params[:search], placeholder: "ID, name etc." %>    
    <%= _('Search for multiple') %>: 
      <% options = Supplier.all.collect{ |u| [u.suppliers_name, u.id] } %>
        <% options = [["Select All", nil]] + options %>
      <%= select_tag 'supplier_select[]', options_for_select(options, params[:supplier_select]), :multiple => :multiple, :class => "chosen-select"%>      
    <%= _('From') %>:
      <% start_date_value = 1.month.ago.strftime("%d - %m - %Y") %>
      <% end_date_value = Date.today.strftime("%d - %m - %Y") %>
      <%= text_field_tag 'start_date', params[:start_date], :class => "datepicker", :autocomplete => "off" %>
      <%= _('To') %>:
      <%= text_field_tag 'end_date', params[:end_date], :class => "datepicker", :autocomplete => "off" %>
      <%= submit_tag _("Search"), :name => nil %>
  </p>
<% end %>
<%= link_to _('New Purchase'), new_purchase_path, class: "marginLeftOnly text-light btn btn-primary btn-sm" %>

<script>
    $( function() {
      $( ".datepicker" ).datepicker({ dateFormat: 'dd-mm-yy'});
    } );
</script>  

<table class="hoverTable">
  <thead>
    <tr class="active">
      <th><%= sortable "id", _("ID") %></th>
      <th><%= sortable "supplier_id", _("SUPPLIER ID") %></th>
      <th><%= sortable "suppliers.suppliers_name", _("SUPPLIER NAME") %></th>     
      <th><%= sortable "estimated_total", _("ESTIMATED TOTAL") %></th>
      <th><%= sortable "actual_total", _("ACTUAL TOTAL") %></th>
      <th><%= sortable "date_of_the_order", _("ORDER DATE") %></th>
      <th><%= sortable "expected_date_of_delivery", _("DELIVERY DATE") %></th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.id %></td>
        <td><%= purchase.supplier_id %></td>
        <td><%= purchase.supplier.suppliers_name %></td>
        <td>&#8381 <%= purchase.estimated_total %></td>
        <td>&#8381 <%= purchase.actual_total %></td>
        <td><%= purchase.date_of_the_order %></td>
        <td><%= purchase.expected_date_of_delivery %></td>
        <td><%= link_to _('Show'), purchase, class: "btn btn-outline-primary btn-sm" %></td>
        <td><%= link_to _('Edit'), edit_purchase_path(purchase), class: "btn btn-outline-primary btn-sm" %></td>
        <td><%= link_to _('Destroy'), purchase, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-primary btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script type="text/javascript">  
  $(".chosen-select").chosen({
  no_results_text: "Oops, nothing found!"
  })
</script>