<form>  
  <div class="jumbomax container jumbotron m-0 p-0">
    <div class="ml-4">
      <div class="row">
        <h1 class="col-6"><%= _('Purchases') %></h1>
          <div class="row justify-content-end">
            <%= _('From') %>:
            <div class="field col-4">
              <% start_date_value = 1.month.ago.strftime("%d - %m - %Y") %>
              <% end_date_value = Date.today.strftime("%d - %m - %Y") %>
              <%= text_field_tag 'start_date', params[:start_date], :class => "datepicker form-control", :autocomplete => "off" %>
            </div>

            <%= _('To') %>:
            <div class="field col-4">
              <%= text_field_tag 'end_date', params[:end_date], :class => "datepicker form-control", :autocomplete => "off" %>
            </div>
          </div>
      </div>
      
    
      <%= form_tag purchases_path, :method => 'get' do %>
        <div>
          <div class="row mt-3">
            <div class="field col-4 p-0">
              <%= text_field_tag :search, params[:search], placeholder: "ID, name etc.", class: "form-control searcheight" %>    
            </div>

            <div class="col-5 p-0">
              <% options = Supplier.all.collect{ |u| [u.suppliers_name, u.id] } %>
                <% options = [["Select All", nil]] + options %>
              <%= select_tag 'supplier_select[]', options_for_select(options, params[:supplier_select]), :multiple => :multiple, :size => 10, :id => "choices-multiple-remove-button", :placeholder => "Select suppliers" %>      
            </div>

            <div class="field mb-3 col-3 p-0">
              <%= submit_tag _("Search"), :name => nil, :class => "searcheight btn btn-outline-primary" %>
            </div>
          </div>
        </div>
        <hr>
      <% end %>
    </div>
  </div>  
</form>

<p id="notice"><%= notice %></p>
<div class="container ml-3">
    <%= link_to _('+ New Purchase'), new_purchase_path, class: "text-light btn btn-primary" %>
</div>

<script>
    $( function() {
      $( ".datepicker" ).datepicker({ dateFormat: 'dd-mm-yy'});
    } );
</script>  

<table class="table" style="width: 90%">
  <thead>
    <tr class="active">
      <th><%= sortable "id", _("ID") %></th>
      <th><%= sortable "supplier_id", _("SUPPLIER ID") %></th>
      <th><%= sortable "suppliers.suppliers_name", _("SUPPLIER NAME") %></th>     
      <th><%= sortable "estimated_total", _("ESTIMATED TOTAL") %></th>
      <th><%= sortable "actual_total", _("ACTUAL TOTAL") %></th>
      <th><%= sortable "date_of_the_order", _("ORDER DATE") %></th>
      <th><%= sortable "expected_date_of_delivery", _("DELIVERY DATE") %></th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.id %></td>
        <td><%= purchase.supplier_id %></td>
        <td><%= purchase.supplier.suppliers_name %></td>
        <td>&#8381 <%= purchase.estimated_total %></td>
        <td>&#8381 <%= purchase.actual_total %></td>
        <td><%= purchase.date_of_the_order %></td>
        <td><%= purchase.expected_date_of_delivery %></td>
        <td><%= link_to _('Show'), purchase, class: "btn btn-outline-primary btn-sm" %></td>
        <td><%= link_to _('Edit'), edit_purchase_path(purchase), class: "btn btn-outline-primary btn-sm" %></td>
        <td><%= link_to _('Destroy'), purchase, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-primary btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script type="text/javascript">  
  $(document).ready(function(){

     var multipleCancelButton = new Choices('#choices-multiple-remove-button', {
     removeItemButton: true,
     maxItemCount:10,
     searchResultLimit:100,
     renderChoiceLimit:10
     });
  });
</script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
<script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>