<p id="notice"><%= notice %></p>

<p>
  <strong>  <%= _("Purchase Id:") %></strong>
  <%= @purchase.id %>
</p>

<p>
  <strong><%= _("Supplier:") %></strong>
  <%= @purchase.supplier_id %> |
  <%= @purchase.supplier.supplier_name %>
</p>

<p>
  <strong><%= _("Date received:") %></strong>
  <%= @purchase.created_at.strftime("%d %b %Y") %> 
</p>

<% @purchase.purchase_products.each do |sp| %>
  <hr>

  <table>
    <thead>
      <tr>
      <th colspan="3"><h3><%= _("Product id:") %> <%= sp.product_id %></h3></th>
    </tr><tr>
      <th><%= _("Actual Order") %></th>
    </tr>
    </thead><tbody>
      <tr>
        <td><strong><%= _("Quantity:") %></strong></td>
        
        <td><%= sp.purchase_quantity %></td>
      </tr>
      <tr>
        <td><strong><%= _("Cost per Unit (CPU)") %> </strong></td>
        
        <td><%= sp.purchase_price %></td>
      </tr>
      <tr>
        <td><strong><%= _("Subtotal:") %></strong></td>
        
        <td><%= sp.purchase_subtotal %></td>
      </tr>
      
    </tbody>
  </table>
  <% end %>

<p>
  <strong><%= _("") %><%= _("Actual total:") %></strong>
  <%= @purchase.purchase_total %>
</p>

<%= link_to _('Edit'), edit_purchase_path(@purchase) %> |
<%= link_to _('Back'), purchases_path %>
