<div class="row ml-4">
    <%= form_with(model: production, local: true) do |form| %>
      <% if production.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(production.errors.count, "error") %> prohibited this production from being saved:</h2>

          <ul>
          <% production.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label _('Recipe') %>
        <%= form.collection_select :recipe_id, Recipe.all, :id, :recipe_name, {}, {class: "product-picker form-control"} %>
      </div>

    
        <div class="form-group">
          <%= form.label _('Product amount') %>
          <%= form.number_field :product_amount, :class => "prod_amount form-control" %>
        </div>

        <div class="form-group">
           <%= form.label _('Recipe price') %>
           <%= form.number_field :recipe_price, class: "recipe-price-field form-control", :readonly => true %>
        </div>    

        <div class="form-group">
          <%= form.label _('Total') %>
          <%= form.text_field :grand_total, :readonly => true, :class => "form-control", size: 30 %>
        </div>

        <div class="form-group">
          <%= form.label _('Cost to make') %>
          <%= form.text_field :cost_to_make, :readonly => true, :class => "form-control" %>
        </div>
      
        <div class="field">
          <%= form.submit "#{production.id.nil? ? "Create" : "Update"} Production", :class => 'searchtag text-light btn btn-primary' %>
        </div>
   

      <div class="field">
        <div id="custombutton" class="sob btn btn-info searchtag" data-toggle="modal" data-target="#myModal">Info!</div>
        <!-- modal window -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6>The amount of ingredients that are used to produce the product</h6>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                      <div class="">
                        <div class="row">
                          <div class="col-10">
                            <table id="ing_amount_modal_table" class="table">
                              <thead>
                                <tr>
                                  <th scope="col">Name</th>
                                  <th scope="col">Amount</th>
                                </tr>
                              </thead>
                              <tbody>
                                
                              </tbody>   
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
      </div>
    <% end %>

<script type="text/javascript">
  $(document).ready(function() {

    function updateSelectedPrice(){
      $.ajax({ 
          url: "/recipes/grand_total",
          data: { id: $(this).val()  },
          type: "GET",
          success: function(data){
              $('.recipe-price-field').val(data['grand_total']);
          }
      });
    }
        
    function updateProductAmountTable(){
      var prod_amount = $('.prod_amount').val()

      $("#ing_amount_modal_table").find("tr:gt(0)").remove();

        $.ajax({
          url: "<%= get_product_amount_info_path %>",
          data: { id: $('.product-picker').val() },
          type: "GET",
          success: function(data){
            product_row = ""; 
              $.each(data, function(i, item) {(product_row += '<tr><td>' + item['product_name'] + '</td><td>' + item['product_amount']*prod_amount + '</td></tr>')}
              );
 
              $('#ing_amount_modal_table tbody').append(product_row)


          }
        })
    };

    $(document).on('change', '.product-picker', updateSelectedPrice);
    $(document).on('change', '.product-picker', '.prod_amount', updateProductAmountTable);
    $(".product-picker").each(updateSelectedPrice);
    $(".product-picker .prod_amount").each(updateProductAmountTable);
  });
</script>
</div>
