<%= form_with(model: production, local: true) do |form| %>
  <% if production.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(production.errors.count, "error") %> prohibited this production from being saved:</h2>

      <ul>
      <% production.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-6 col-lg-2">
    <div class="field">
      <%= form.label _("Select Recipe") %>
      <%= form.select :recipe_id, options_for_select(Recipe.all.map{|r| [r.recipe_name, r.id]}), {:prompt => _("Select Recipe")}, {class: "recipe form-control"} %>     
    </div>
  </div> 
  <div class="col-5 col-lg-2">
    <div class="field">
      <%= form.label _("Select Production Employee") %>
      <%= form.select :recipe_id, options_for_select(Employee.all.map{|r| [r.first_name, r.id]}), {:prompt => _("Select Employee")}, {class: "recipe form-control"} %>     
    </div>
  </div> 
</div>

<div class="row">
  <div class="col-6 col-lg-2">
    <div class="field">
      <%= form.label :recipe_cost %>
      <%= form.number_field :recipe_cost, class: "recipe-cost greyed_out form-control", :readonly => true %>
    </div>
  </div>
  <div class="col-5 col-lg-2">
    <div class="field">
    <%= form.label :recipe_yield %>
    <%= form.number_field :recipe_yield, class: "recipe-yield greyed_out form-control", :readonly => true %>
    </div>
  </div>
  <div class="col-3 col-lg-1">
    <div class="field">
      <%= form.label _("Production Qt") %>
      <%= form.number_field :production_quantity, class: "production-quantity form-control" %>
    </div>
  </div>
  <div class="col-6 col-lg-2">
    <div class="field">
      <%= form.label :production_total_cost %>
      <%= form.number_field :production_total_cost, class: "total-production-cost greyed_out form-control", :readonly => true %>
    </div>
  </div>
</div>
<div class="row">  
  <div class="col-6 col-lg-2">
    <div class="field">
      <%= form.label :production_yield %>
      <%= form.number_field :production_yield, class: "production_yield greyed_out form-control", :readonly => true %>
    </div>
  </div>
  <div class="col-5 col-lg-2">
    <div class="field">
      <%= form.label :units %>
      <%= form.text_field :units, class: "units greyed_out form-control", :readonly => true %>
    </div>
  </div>
  <div class="col-6 col-lg-2">
    <div class="field">
      <%= form.label _("Product Id") %>
      <%= form.text_field :product_id, class: "product-id greyed_out form-control", :readonly => true %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6 col-lg-3">
    <div class="actions d-inline-block">
      <%= form.submit _('Create Production'), :class => 'btn btn-success' %>
    </div>
  </div>
</div>

<div>    <!-- Button trigger modal -->
  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
    <i class="fa-solid fa-calculator"></i> <%= _("Calculate Ingredients Needed") %>
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ingredient Calculator</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table id="usage_info">
          <thead>
            <tr>
              <th>Ingredient</th>
              <th>Amount needed</th>
            </tr>
          </thead>
          <tbody>            
          </tbody>
         </table> 
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<% end %>

<br>


<script type="text/javascript">

///////////////// AUTO-FILL //////////////////////

 
$(document).ready(function() {
  $(document).on("change", ".recipe", getRecipeInfo);
  $(document).on("change", ".recipe, .production-quantity", getUsageInfo);
  $(document).on("change", ".recipe, .production-quantity", calcProductionTotal); 
  $(document).on("change", ".recipe, .production-quantity", calcYieldTotal); 
  $(document).on("change", ".recipe, .production-quantity", calcTotalUsage); 

  
  
  function getRecipeInfo() {
      $.ajax({ 
      url: "<%= recipes_get_production_info_path %>",
      data: { id: $(this).val() },
      type: "GET",
      success: function(data) {
        $(".recipe-cost").val((data["recipe_cost"]).toFixed(3));
        $(".units").val(data["units"]);
        $(".recipe-yield").val(data["yield"]);  
        $(".product-id").val(data["product_id"]);                            
        }
      });
    };


  function getUsageInfo() {
      // gets production qt  
      var pq = $(".production-quantity").val()               
        $.ajax({ 
        url: "<%= recipes_get_usage_info_path %>",
        data: { id: $(".recipe").val() },
        type: "GET",
        success: function(result){
            // clears table data
            $("#usage_info").find("tr:gt(0)").remove(); 
            ingredient_row = "";
            //appends ingredients as table rows in modal
            $.each(result, function(i, item){ ingredient_row += "<tr><td>" + item[0] + "</td><td>" + (item[1]*pq).toFixed(3) + " kg</td></tr>"})                    
            $("#usage_info > tbody:last-child").append(ingredient_row);
        }
        });
      };          

  function calcProductionTotal() {
      var price = $(".recipe-cost").val()
      var qt = $(".production-quantity").val()
          $(".total-production-cost").val((price*qt).toFixed(2))
  }

  function calcYieldTotal() {
      var recipe_yield = $(".recipe-yield").val()
      var qt = $(".production-quantity").val()
          $(".production_yield").val((recipe_yield*qt).toFixed(2))
  }

  
});
</script>

