<form>
  <div class="jumbotron m-0 p-0">
    <div>
      <div class="row">
        <div class="col-6">
          <h1 class="ml-2"><%= _('Productions') %></h1>
        </div>
        <div class="col-6">
          <div class="row justify-content-end mr-1">
            <%= _('From') %>:
            <div class="field col-4">
              <% start_date_value = 1.month.ago.strftime("%d - %m - %Y") %>
              <% end_date_value = Date.today.strftime("%d - %m - %Y") %>
              <%= text_field_tag 'start_date', params[:start_date], :class => "datepicker form-control", :autocomplete => "off" %>
            </div>

            <%= _('To') %>:
            <div class="field col-4">
              <%= text_field_tag 'end_date', params[:end_date], :class => "datepicker form-control", :autocomplete => "off" %>  
            </div>
          </div>
        </div>   
      </div>
      
      <%= form_tag productions_path, :method => 'get' do %>
        <div class="ml-4">
          <div class="row mt-3">
            <div class="field col-4 p-0">
              <%= text_field_tag :search, params[:search], placeholder: "ID, name etc.", class: "form-control searcheight" %>  
            </div>  
          
            <div class="col-5 p-0">
              <% options = Recipe.all.collect{ |u| [u.recipe_name, u.id] } %>
                <% options = [["Select All", nil]] + options %>
              <%= select_tag 'recipe_select[]', options_for_select(options, params[:recipe_select]), :multiple => :multiple, :size => 10, :id => "choices-multiple-remove-button", :placeholder => "Select product" %>
            </div>

            <div class="field mb-3 col-3 p-0">
              <%= submit_tag _("Search"), :name => nil, :class => "searcheight btn btn-outline-primary" %>
            </div>
          </div>
        </div>
        <hr>
      <% end %>
    </div>
  </div>
</form>

<p id="notice"><%= notice %></p>
<div class="container ml-3">
    <%= link_to _('+ New Production'), new_production_path, class: "text-light btn btn-primary" %>
</div>

<script>
    $( function() {
      $( ".datepicker" ).datepicker({ dateFormat: 'dd-mm-yy'});
    } );
</script>

<table class="table" style="width: 90%">
  <thead>
    <tr class="active">
      <th><%= sortable "recipe_id", _("Recipe ID") %></th>
      <th><%= sortable "recipes.recipe_name", _("Recipe Name") %></th>
      <th><%= sortable "product_amount", _("Product Amount") %></th>
      <th><%= sortable "recipe_price", _("Recipe Price") %></th>
      <th><%= sortable "grand_total", _("Total") %></th>
      <th><%= sortable "cost_to_make", _("Cost to Make") %></th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @productions.each do |production| %>
      <tr>
        <td><%= production.recipe_id %></td>
        <td><%= production.recipe.nil? ? "" : production.recipe.recipe_name %></td>
        <td><%= production.product_amount %></td>
        <td><%= production.recipe_price %></td>
        <td><%= production.grand_total %></td>
        <td><%= production.cost_to_make %></td>
        <td><%= link_to _('Show'), production, class: "btn btn-outline-primary btn-sm" %></td>
        <td><%= link_to _('Edit'), edit_production_path(production), class: "btn btn-outline-primary btn-sm" %></td>
        <td><%= link_to _('Destroy'), production, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<script type="text/javascript">  
  $(document).ready(function(){

     var multipleCancelButton = new Choices('#choices-multiple-remove-button', {
     removeItemButton: true,
     maxItemCount:10,
     searchResultLimit:100,
     renderChoiceLimit:10
     });
  });
</script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
<script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>