<p id="notice"><%= notice %></p>

<h1><%= _('Productions') %></h1>

<%= link_to _('+ New Production Order'), new_production_path, :class => "btn btn-secondary" %><br><br>
<br><br>

<table>
  <thead>
    <tr>
      <th><%= _('Recipe Id') %></th>
      <th><%= _('Recipe Name') %></th>
      <th><%= _('Product Id') %></th>
      <th><%= _('Product Name') %></th>
      <th><%= _('Batch Qty') %></th>
      <th><%= _('Production Cost') %></th>
      <th colspan="2"><%= _('Units produced') %></th>

      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @productions.each do |production| %>
      <tr>
        <td align="center"><%= production.recipe_id %></td>
        <td><%= production.recipe.recipe_name %></td>
        <td align="center"><%= production.recipe.product_id %></td>
        <td><%= production.recipe.product.product_name %></td>
        <td align="right"><%= production.production_quantity %></td>
        <td align="right"><%= production.production_total_cost %></td>
        <td align="right"><%= production.production_yield %></td>
        <td><%= production.recipe.units %></td>
        <td><%= link_to '<i class="fa-solid fa-eye"></i>'.html_safe, production, class: "text-primary" %></td>
        <td><%= link_to '<i class="fa-solid fa-trash-can"></i>'.html_safe, production, method: :delete, data: { confirm: _('Are you sure?') }, class: "text-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

