<p id="notice"><%= notice %></p>

<p>
  <strong>Recipe ID:</strong>
  <%= @production.recipe_id %>
</p>
<p>
  <strong>Recipe name:</strong>
  <%= @production.recipe.recipe_name %>
</p>

<p>
  <strong>Total:</strong>
  <%= @production.grand_total %>
</p>

<p>
  <strong>Cost to Make:</strong>
  <%= @production.cost_to_make %>
</p>

<%= link_to 'Edit', edit_production_path(@production) %> |
<%= link_to 'Back', productions_path %>
