<p id="notice"><%= notice %></p>

<div class="container ml-3">
  <h1><%=_('Clients')%></h1>

  <%= form_tag clients_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag _("Search"), :name => nil, :class => "btn btn-outline-primary btn-sm" %>
    </p>
  <% end %>

  <%= link_to _('New Client'), new_client_path, class: "text-light btn btn-primary btn-sm" %>


  <h2 class="marginLeftOnly">Import Clients</h2>

  <%= link_to 'Upload from Excel', new_clients_import_path, class: "text-light btn btn-secondary btn-sm" %>
  <%= link_to 'Download as Excel', clients_path(format: :xlsx), class: "text-light btn btn-secondary btn-sm" %>
</div>

  
    <table class="table" style="width: 90%">
      <thead>
        <tr class="active">
          <th scope="col"><%= sortable "id", _("ID") %></th>
          <th scope="col"><%= sortable "name", _("NAME") %></th>
          <th scope="col"><%= sortable "phone", _("PHONE") %></th>
          <th scope="col"><%= sortable "address", _("ADDRESS") %></th>
          <th scope="col"><%= sortable "city", _("CITY") %></th>
          <th scope="col"><%= sortable "country", _("COUNTRY") %></th>
          <th colspan="6"></th>
        </tr>
      </thead>

      <tbody>
        <% @clients.each do |client| %>
          <tr>
            <td><%= client.id %></td>
            <td><%= client.name %></td>
            <td><%= client.phone %></td>
            <td><%= client.address %></td>
            <td><%= client.city %></td>
            <td><%= client.country %></td>
            <td><%= link_to _('Show'), client, class: "btn btn-outline-primary btn-sm" %></td>
            <td><%= link_to _('Edit'), edit_client_path(client), class: "btn btn-outline-primary btn-sm" %></td>
            <td><%= link_to _('Destroy'), client, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-primary btn-sm" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>


<br>








