<p id="notice"><%= notice %></p>

<h1><%= _('Clients') %></h1>

<%= link_to _('+ New Client'), new_client_path, :class => 'btn btn-secondary' %><br><br>

<div class="">
  <%= form_tag clients_path, :method => 'get' do %>
    <div class="input-group input-group-sm mb-3 col-10 col-xl-3 col-lg-6 col-md-7 col-sm-10 pl-0">
      <%= text_field_tag :search, params[:search], class: 'form-control' %>
        <div class="input-group-append">
          <%= button_tag(type: "submit", class: "btn btn-warning") do %>
          <%= _("Search") %> <i class="fa-solid fa-magnifying-glass"></i>
          <% end %>
        </div>
    </div> 
  <% end %>
</div>



<table>
  <thead>
    <tr>
    <th class="col-2 px-0"><%= sortable "name", _("Name") %></th>
    <th class="col-1 px-0"><%= sortable "email", _("Email") %></th>
    <th class="col-1 px-0"><%= sortable "phone", _("Phone") %></th>
    <th class="col-1 px-0"><%= sortable "gender", _("Gender") %></th>
    <th class="col-1 px-0"><%= sortable "date_of_birth", _("DoB") %></th>
    <th class="col-2 px-0"><%= sortable "address", _("Address") %></th>
    <th class="col-1 px-0"><%= sortable "registered", _("Registered") %></th>
    
    <th class="col-2"></th>
    
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.last_name %>, <%= client.name %> <%= client.middle_name %></td>
        <td><%= client.email %></td>
        <td><%= client.phone %></td>
        <td><%= client.gender %></td>
        <td><%= client.date_of_birth.strftime("%B %d, %Y") %></td>
        <td><%= client.address %>, <%= client.city %> - <%= client.zip_code %></td>
         <td><%= client.registered %></td>
        <td>
          <%= link_to '<i class="fa-solid fa-eye"></i>'.html_safe, client, class: "text-primary m-2" %>
          <%= link_to '<i class="fa-solid fa-pencil"></i>'.html_safe, edit_client_path(client), class: "text-secondary m-2" %>
          <%= link_to '<i class="fa-solid fa-trash-can"></i>'.html_safe, client, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-danger m-2" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

