<p id="notice"><%= notice %></p>

<h1><%=_('Clients')%></h1>

  <%= form_tag clients_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag _("Search"), :name => nil %>
    </p>
  <% end %>
  <%= link_to _('New Client'), new_client_path, class: "marginLeftOnly text-light btn btn-primary btn-sm" %>

<div>
  <h2 class="marginLeftOnly">Import Clients</h2>

  <%= link_to 'Upload from Excel', new_clients_import_path, class: "marginLeftOnly text-light btn btn-secondary btn-sm" %>
  <%= link_to 'Download as Excel', clients_path(format: :xlsx), class: "text-light btn btn-secondary btn-sm" %>
</div>

<table class="hoverTable">
  <thead>
    <tr class="active">
      <th><%= sortable "id", _("ID") %></th>
      <th><%= sortable "name", _("NAME") %></th>
      <th><%= sortable "phone", _("PHONE") %></th>
      <th><%= sortable "address", _("ADDRESS") %></th>
      <th><%= sortable "city", _("CITY") %></th>
      <th><%= sortable "country", _("COUNTRY") %></th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.id %></td>
        <td><%= client.name %></td>
        <td><%= client.phone %></td>
        <td><%= client.address %></td>
        <td><%= client.city %></td>
        <td><%= client.country %></td>
        <td><%= link_to _('Show'), client, class: "btn btn-outline-primary btn-sm" %></td>
        <td><%= link_to _('Edit'), edit_client_path(client), class: "btn btn-outline-primary btn-sm" %></td>
        <td><%= link_to _('Destroy'), client, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-primary btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>








