<p id="notice"><%= notice %></p>

<p>
  <strong><%= _('Name:') %></strong>
  <%= @client.name %>
</p>

<p>
  <strong><%= _('Phone:') %></strong>
  <%= @client.phone %>
</p>

<p>
  <strong><%= _('Address:') %></strong>
  <%= @client.address %>
</p>

<p>
  <strong><%= _('City:') %></strong>
  <%= @client.city %>
</p>

<%= link_to _('Edit'), edit_client_path(@client) %> |
<%= link_to _('Back'), clients_path %>
