<%= form_with(model: order, id: "new-order",  local: true) do |form| %>
    <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
            <% end %>
          </ul>
    </div>

    <% end %>

     <%= form.label _("Select Client") %>
     <%= form.collection_select :client_id, Client.all, :id, :name, {}, :class => "form-control col-8 col-lg-6 col-xl-3 " %>
<hr>
      <h2><%= _('Products') %></h2>

    <%= form.fields_for :order_products do |builder| %>
      <%= render 'order_product_fields', form: builder %>
    <% end %>
 
      <%= link_to_add_fields _("Add Product"), form, :order_products %><br><br><hr>
      
  
  <div class="field">
    <%= form.label :grand_total %>
    <%= form.text_field :grand_total, :class => "grand-total greyed_out form-control", :readonly => true %>
  </div>

  <div> 
    <%= form.submit "#{order.id.nil? ? _("Create Order") : _("Update Order")}" , :class => "btn btn-success" %>
  </div>

<% end %>

<script type="text/javascript">

  $(document).ready(function() {

    $(document).on('change', '.product-select', updateSelectedPrice);   
    $(document).on('change', '.quantity, .sale-price, .product-select', calcSubtotal);
    $(document).on('change', '.quantity, .sale-price, .product-select', calcGrandTotal); 
    $(document).on('click', '.remove_fields', calcGrandTotal);

    function updateSelectedPrice(){
      var current_picker = $(this);
        $.ajax({ 
          url: "<%= products_get_price_path %>",
          data: { product_id: $(this).val() },
          type: "GET",
          success: function(data) {
            current_picker.parents(".nested-fields").find('.sale-price').val(data["price"]);
          }
        });
    }

    function calcGrandTotal() {
        var grandTotal = 0
          $(".subtotal").each(function() {
            if ( $(this).parents(".nested-fields").is(':visible') ) {
              grandTotal += parseFloat($(this).val());
            } 
            $(".grand-total").val(grandTotal);
          });
    };   
      
    function calcSubtotal() {
      var qt = $(this).parents(".nested-fields").find(".quantity").val();
      var price = $(this).parents(".nested-fields").find(".sale-price").val();
      var subtotal = (price || 0) * (qt || 0);
      $(this).parents(".nested-fields").find(".subtotal").val(subtotal)
    };

  });  
  
</script>





