<%= form_with(model: order, id: "new-order",  local: true) do |form| %>
    <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
            <% end %>
          </ul>
    </div>

    <% end %>

     <%= form.label "Select Client" %>
     <%= form.collection_select :client_id, Client.all, :id, :name %>

      <h2>Products</h2><hr>

    <%= form.fields_for :order_products do |builder| %>
      <%= render 'order_product_fields', form: builder %>
    <% end %>
  
      <%= link_to_add_fields "Add Product", form, :order_products %>
      
  <br><br>
  <div class="field">
    <%= form.label :grand_total %>
    <%= form.text_field :grand_total, :class => "greyed_out", :readonly => true %>
  </div>

  <div> 
    <%= form.submit 'Place Order' %>
  </div>

<% end %>

<script type="text/javascript">
    $(document).ready(function() {
       function updateSelectedPrice(){
        var current_picker = $(this);
        $.ajax({ 
            url: "/products/price",
            data: { product_id: $(this).val() },
            type: "GET",
            success: function(data) {
              current_picker.parents(".nested-fields").find('.sale-price').val(data['price']);
            }
          });
        }
      $(document).on('change', '.product_select', updateSelectedPrice);
      $(".product_select").each(updateSelectedPrice);

  });  

</script>