
<% @receipts.each do |receipt| %>

  <div style="max-width: 1240px; margin: auto; margin-top: 100px; position: relative;">
    <div style="position: absolute; right: 15px; top: -20px"><img src="https://static.tildacdn.com/tild3330-3734-4039-b366-653234623332/2016109_FINAL_Logo_R.png" style="width: 180px;"></div>
    <div style="font-size: 1rem; line-height: 1.4rem;  display: block; over-flow: auto;">
      <div style="width: 75%; display: inline-block; padding-bottom: 5px;">
        <div>
          <div style="display: inline-block; width: 33%; text-align: center; vertical-align: top;"> НАКЛАДНАЯ № </div>
          <div style="display: inline-block; width: 33%; text-align: left;"> <%= receipt.id.to_s.rjust(6, "0") %> <br> <%=  receipt.created_at.strftime("%d %B %Y") %> </div>
        </div>
        <div style="padding-bottom: 5px;">
          <div style="display: inline-block; width: 20%; text-align: left; vertical-align: top;"> Кoму <br> От кого <br> Вид Платажа </div>
          <div style="display: inline-block; width: 79%; text-align: left;">
            <div style="border-bottom: solid 1px;"><%= receipt.client.name %> </div>
            <div style="display: inline-block; width: 50%;">
              <div style="border-bottom: solid 1px;"> Shibon Foods </div>
              <div style="border-bottom: solid 1px;">Касса (KGS)</div>
            </div>
            <div style="display: inline-block; vertical-align: bottom; width: auto; padding-left: 2.5rem;">
              место нахождения
            </div>
          </div>
        </div>
      </div>
        <div style="border-bottom: solid 1px; display: inline-block; width: 17%; vertical-align: bottom;">
        Тунгуч
        </div>
      </div>
    <div style="padding-top: 25px; padding-bottom: 25px;">
      <table class="receipt_table" style="width: 97%;" >
        <tr>
          <td rowspan="2" style="vertical-align: bottom;">№ п.</td>
          <td rowspan="2" style="vertical-align: bottom;">Наименование</td>
          <td rowspan="2" style="vertical-align: bottom;">Количество</td>
          <td rowspan="2" style="vertical-align: bottom;">кг</td>
          <td colspan="2">Цена</td>  
          <td colspan="2">Сумма</td>  
        </tr>

        <tr>
          <td>сом</td>
          <td>тый.</td>
          <td>сом</td>
          <td>тый.</td>
        </tr>

        <tr>
          <td></td>
          <td>Credit, expedition, or other costs</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td style="text-align: right"> <%= receipt.grand_total %> </td>
          <td style="text-align: right">0</td>
        </tr>

        <tr>
          <td colspan="6" style="text-align: right;">Сумма:</td>
          <td style="text-align: right"><%= receipt.grand_total %></td>
          <td style="text-align: right">0</td>
        </tr>
      </table>
    </div>

    <div style="width: 97%; height: 140px; display: block;">
      <div style="height: 130px; float: left; width: 45%; border: solid 1px black; ">        
        <div style="display: inline-block; height:50px; width: 45%; vertical-align: top; padding-top: 0px; font-size: 12px;"> 1) Заведущий складом отпустил:</div>
        <div style="height: 50px; display: inline-block; width: 45%; border-bottom: solid 1px;"></div>        
        <div style="display: inline-block; height:50px; width: 45%; vertical-align: top; padding-top: 0px; font-size: 12px;"> 2) Для доставки принял водитель:</div>
        <div style="height: 50px; display: inline-block; width: 45%; border-bottom: solid 1px;"></div>
      </div>

      <div style="height: 130px; float: right; width: 45%; border: solid 1px black;">
        <div style="height: 50px; width: 45%; vertical-align: top; padding-top: 0px; font-size: 12px; display: inline-block;"> 3) Здал водитель:</div>
        <div style="height: 50px; width: 40%; border-bottom: solid 1px; display: inline-block;"></div>
        <div style="height: 50px; width: 45%; vertical-align: top; display: inline-block; padding-top: 0px; font-size: 12px; border-bottom: solid 1px;"> 4) Заведущий складом получил:</div>
        <div style="height: 50px; width: 40%; border-bottom: solid 1px; display: inline-block; margin-left: 30px;"></div>
        <div style="height: 30px; width: 45%; font-size: 9px; text-align: center; vertical-align: top; padding-top: 0px;">Ф.И.О заведущий склада</div>   
      </div>
  </div>
<% end %>



