<p id="notice"><%= notice %></p>

<h1><%= _('Orders') %></h1>

<%= link_to _('+ New Order'), new_order_path, :class => 'btn btn-secondary' %><br><br>


<%= form_tag orders_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= button_tag(type: "submit", class: "btn btn-warning btn-small") do %>
    Search <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>
  </p>
<% end %>

<table>
  <thead>
    <tr>
      <th class="align_right"><%= sortable "id", _("ID") %></th>
      <th><%= sortable "created_at", _("Date Ordered") %></th>
      <th><%= sortable "client_id", _("Client ID") %></th>
      <th><%= sortable "client_id", _("Client Name") %></th>
      <th><%= sortable "grand_total", _("Grand Total") %></th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td class="align_right"><%= order.id %></td>
        <td><%= order.created_at.strftime("%d %b %Y") %></td> 
        <td class="align_center"><%= order.client_id %></td>
        <td><%= order.client.name %></td>
        <td class="align_right"><%= number_with_precision(order.grand_total, :precision => 2) %></td>
        <td><%= link_to '<i class="fa-solid fa-eye"></i>'.html_safe, order, class: "text-primary" %></td>
        <td><%= link_to '<i class="fa-solid fa-pencil"></i>'.html_safe, edit_order_path(order), class: "text-secondary" %></td>
        <td><%= link_to '<i class="fa-solid fa-trash-can"></i>'.html_safe, order, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

