<p id="notice"><%= notice %></p>

<h1>Orders</h1><hr> 

<%= link_to '+ New Order', new_order_path, :class => "button big_button green" %>


<%= form_tag orders_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :client_name => nil %>
  </p>
<% end %>

<table>
  <thead>
    <tr>
      <th class="align_right"><%= sortable "id", "ID" %></th>
      <th><%= sortable "created_at", "Date Ordered" %></th>
      <th><%= sortable "client_id", "Client ID" %></th>
      <th><%= sortable "client_id", "Client Name" %></th>
      <th><%= sortable "grand_total", "Grand Total" %></th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td class="align_right"><%= order.id %></td>
        <td><%= order.created_at.strftime("%d %b %Y") %></td> 
        <td class="align_center"><%= order.client_id %></td>
        <td><%= order.client.name %></td>
        <td class="align_right"><%= order.grand_total %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

