<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th><%= sortable "id", "ID" %></th>
      <th><%= sortable "created_at", "Date Ordered" %></th>
      <th><%= sortable "client_id", "Client ID" %></th>
      <th><%= sortable "client_id", "Client Name" %></th>
      <th><%= sortable "id", "Products Ordered" %></th>
      <th><%= sortable "grand_total", "Grand Total" %></th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.created_at.strftime("%d %b %Y") %></td> 
        <td><%= order.client_id %></td>
        <td><%= order.client.name %></td>
        <td></td>
        <td><%= order.grand_total %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
