

<p id="notice"><%= notice %></p>

<h1><%= _('Orders') %></h1>

<%= link_to _('+ New Order'), new_order_path, :class => 'btn btn-secondary' %><br><br>


<div class="">
  <%= form_tag orders_path, :method => 'get' do %>
    <div class="input-group input-group-sm mb-3 col-10 col-xl-3 col-lg-6 col-md-7 col-sm-10 pl-0">
      <%= text_field_tag :search, params[:search], class: 'form-control' %>
        <div class="input-group-append">
          <%= button_tag(type: "submit", class: "btn btn-warning") do %>
          Search <i class="fa-solid fa-magnifying-glass"></i>
          <% end %>
        </div>
    </div> 
  <% end %>
</div>


<%= form_tag(bulk_receipts_path, :method => "get", :target => "_blank") do %>
  <div class="mb-4 input-group">
    <%= select_tag "bulk_action", raw("<option>Print Receipts</option>"), prompt: "Bulk Action", class:'form-control col-1 input-group' %>  
    <div class="input-group-append">
      <%= button_tag(type: "submit", class: "btn btn-primary input-group-append") do %> Submit <% end %>
    </div>
  </div>

<table>
  <thead>
    <tr>
      <th></th>
      <th class="align_right"><%= sortable "id", _("ID") %></th>
      <th><%= sortable "created_at", _("Date Ordered") %></th>
      <th><%= sortable "client_id", _("Client ID") %></th>
      <th><%= sortable "client_id", _("Client Name") %></th>
      <th><%= sortable "grand_total", _("Grand Total") %></th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= check_box_tag  "order_ids[]", order.id  %></td>
        <td class="align_right"><%= order.id %></td>
        <td><%= order.created_at.strftime("%d %b %Y") %></td> 
        <td class="align_center"><%= order.client_id %></td>
        <td><%= order.client.name %></td>
        <td class="align_right"><%= number_with_precision(order.grand_total, :precision => 2) %></td>        
        <td><%= link_to '<i class="fa-solid fa-pencil"></i>'.html_safe, edit_order_path(order), class: "text-secondary" %></td>
        <td><%= link_to '<i class="fa-solid fa-trash-can"></i>'.html_safe, order, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-danger" %></td>
        <td><%= link_to _('Print Receipt'), order_receipt_path(order), target: "_blank", class: "btn btn-primary btn-small" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>

