<p id="notice"><%= notice %></p>

<h1>Orders</h1><hr> 

<%= link_to '+ New Order', new_order_path, :class => "button big_button green" %>


<%= form_tag orders_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :client_name => nil %>
  </p>
<% end %>

<table>
  <thead>
    <tr>
      <th class="align_right"><%= sortable "id", "ID" %></th>
      <th><%= sortable "created_at", "Date Ordered" %></th>
      <th><%= sortable "client_id", "Client ID" %></th>
      <th><%= sortable "client_id", "Client Name" %></th>
      <th><%= sortable "grand_total", "Grand Total" %></th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td class="align_right"><%= order.id %></td>
        <td><%= order.created_at.strftime("%d %b %Y") %></td> 
        <td class="align_center"><%= order.client_id %></td>
        <td><%= order.client.name %></td>
        <td class="align_right"><%= order.grand_total %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>

<br><br>
<!-- <form id="form1" action="">
      <label>Name:</label> <input id="name" type="text" placeholder="Enter name">
      <span id="name-feedback"></span><br>

      <label>Password:</label> <input id="password" type="password" placeholder="Enter password">
      <span id="password-feedback"></span><br>

      <label>Message:</label> <textarea name="message" id="message" cols="30" rows="10" placeholder="Write something!"></textarea>
      <span id="message-feedback"></span><br>

      <input id="checkbox" type="checkbox" name="ch_b"><label for="ch_b">Check me</label><span id="checkbox-feedback"></span><br>
      <br>

      <input type="submit">
</form> -->



</div>

<script type="text/javascript">


// $(function() {
//   var form = $("#form1");
//   enableFastFeedback(form);

//     $("#form1").submit(function(event) {
//       var name = $("#name").val();
//       var password = $("#password").val();
//       var message = $("#message").val().trim();
//       var checked = $("#checkbox").is(":checked");

//       validateNameField(name, event);
//       validatePasswordField(password, event);
//       validateMessageField(message, event);
//       validateCheckboxField(checked, event);

//     });
// });

// function enableFastFeedback(formElement) {
//   var nameInput = formElement.find("#name");
//   var passwordInput = formElement.find("#password");
//   var messageInput = formElement.find("#message");
//   var checkboxInput = formElement.find("#checkbox");

//   nameInput.blur(function(event) {
//     var name = $(this).val();
//     validateNameField(name, event);

//     if (!isValidName(name)) {
//         $(this).css({"background-color": "rgb(255 186 170)"});
//       } else {
//         $(this).css({"background-color": "rgb(148 239 148)"});
//       }
//   });

//   passwordInput.blur(function(event) {
//     var password = $(this).val();
//     validatePasswordField(password, event);

//     if (!isValidPassword(password)) {
//         $(this).css({"background-color": "rgb(255 186 170)"});
//       } else {
//         $(this).css({"background-color": "rgb(148 239 148)"});
//       }
//   });

//   messageInput.blur(function(event) {
//     var message = $(this).val();
//     validateMessageField(message, event);

//     if (!isValidMessage(message)) {
//         $(this).css({"background-color": "rgb(255 186 170)"});
//       } else {
//         $(this).css({"background-color": "rgb(148 239 148)"});
//       }
//   });

//   checkboxInput.change(function(event) {
//     var isChecked = $(this).is(":checked");
//     validateCheckboxField(checkbox, event);

//     if (!isChecked) {
//         $(this).css({"box-shadow": "0 0 9px rgb(255 186 170)"});
//       } else {
//         $(this).css({"box-shadow": "0 0 9px rgb(148 239 148)"});
//       }
//   });

// }

//   function validateNameField(name, event) {
//     if (!isValidName(name)) {
//       $("#name-feedback").text("Please enter at least two characters!");
//       event.preventDefault();
//     } else {
//       $("#name-feedback").text("");
//     }
//   }

//   function validatePasswordField(password, event) {
//     if (!isValidPassword(password)) {
//       $("#password-feedback").text("Your password must be at least 6 characters!");
//       event.preventDefault();
//       } else {
//       $("#password-feedback").text("");
//     }
//   }

//   function validateMessageField(message, event) {
//     if (!isValidMessage(message)) {
//       $("#message-feedback").text("Please enter a Message!");
//       event.preventDefault();
//       } else {
//       $("#message-feedback").text("");
//     }
//   }

//   function validateCheckboxField(isChecked, event) {
//     if (!isChecked) {
//       $("checkbox-feedback").text("Please check the box");
//       event.preventDefault();
//     } else {
//       $("checkbox-feedback").text("");
//     }
//   }

//   function isValidName(name) {
//     return name.length >= 2;
//   }

//   function isValidPassword(password) {
//     return password.length >= 6;
//   }

//   function isValidMessage(message) {
//     return message != "";
//   }

</script>

