<p id="notice"><%= notice %></p>

<p>
  <strong>Order Id:</strong>
  <%= @order.id %>
</p>

<p>
  <strong>Client:</strong>
  <%= @order.client_id %> |
  <%= @order.client.name %>
</p>

<p>
  <strong>Date ordered:</strong>
  <%= @order.created_at.strftime("%d %b %Y") %> 
</p>

<p>
  <strong>Grand total:</strong>
  <%= @order.grand_total %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
