<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @order.id %>
</p>

<p>
  <strong>Client:</strong>
  <%= @order.client_id %>
</p>

<% @order.order_products.each do |op| %>
  <p>
    <strong>Quantity:</strong>
    <%= op.quantity %>
  </p>

  <p>
    <strong>Sale Price:</strong>
    <%= op.sale_price %>
  </p>

  <p>
    <strong>Subtotal:</strong>
    <%= op.subtotal %>
  </p>
<% end %>


<p>
  <strong>Grand total:</strong>
  <%= @order.grand_total %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>

