<p id="notice"><%= notice %></p>

<p>
  <strong><%= _('Order Id:') %></strong>
  <%= @order.id %>
</p>

<p>
  <strong><%= _('Client:') %></strong>
  <%= @order.client_id %> |
  <%= @order.client.name %>
</p>

<p>
  <strong><%= _('Date ordered:') %></strong>
  <%= @order.created_at.strftime("%d %b %Y") %> 
</p>

<% @order.order_products.each do |op| %>
  <hr>
    <p>
      <strong><%= _('Product Id:') %> </strong>
      <%= op.product_id %>, 
    </p>
    <p>
      <strong><%= _('Quantity:') %> </strong>
      <%= op.quantity %> 
    </p>
    <p>
      <strong><%= _('Sale Price:') %></strong>
      <%= op.sale_price %>
    </p>
    <p>
      <strong><%= _('Subtotal:') %> </strong>
      <%= op.subtotal %>
    </p>
  <% end %>

<p>
  <strong><%= _('Grand total:') %></strong>
  <%= @order.grand_total %>
</p>

<%= link_to _('<i class="fa-solid fa-chevron-left"></i> Go back'), orders_path, :class => "btn btn-primary mt-3" %>h %>
