<h1>User Login</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="d-inline-block">
    <div class="field d-block">
      <%= f.label :user_name %>
      <%= f.text_field :user_name, autofocus: false, class: "form-control" %>
    </div>

    <div class="field d-block">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="field d-block">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="field float-right mb-3" >
         <%= f.check_box :remember_me, class: "form-check-input"  %>
        <%= f.label :remember_me, class: "form-check-label" %>       
      </div>
    <% end %>
     <div class="actions d-block ">
      <%= f.submit "Log in", :class => "btn btn-secondary col" %>
    </div>
    
  <% end %>
</div>
<%= link_to "Forgot your password?", new_password_path(resource_name) %>
