<%= form_with(model: client_signup, local: true) do |form| %>
  
  <div id="main_container">

  <h1><%= _('Atomy: Client Registration') %></h1>
  
  <div class="">
    <h5> How it works: </h5>
    <p></p>
  </div>

  <div class="container w-100">
      <div class="row">
        <div class="field col-4 pl-0">
          <%= form.label :last_name %>
          <%= form.text_field :last_name, class: "form-control" %>
        </div>
        <div class="field col-4 pl-0">
          <%= form.label _("First Name") %>
          <%= form.text_field :name, class: "form-control" %>
        </div>
        <div class="field col-4 pl-0">
          <%= form.label :middle_name %>
          <%= form.text_field :middle_name, class: "form-control" %>
        </div>
      </div>
      <div class="row">
        <div class="field col-4 pl-0">
          <%= form.label :email %>
          <%= form.text_field :email, class: "form-control" %>
        </div>
        <div class="field col-4 pl-0">
          <%= form.label :phone %>
          <%= form.text_field :phone, class: "form-control" %>
        </div>
        <div class="field col-4 pl-0">
          <%= form.label _('Preferred contact method') %>
          <%= form.select :contact_method, ["whatsapp", "telegram", "email"], {}, { :class => 'form-control' } %>
        </div>
      </div>
      <div class="row">   
      <%= form.label _("Date of Birth"), class: "w-100 " %>
        <div class="row col-8 pr-0 pl-0 ml-0">       
          <div class="field col-3 pl-0">
            <%= form.label _("day (dd)") %>
            <%= form.text_field :dob_day, maxlength: 2, class: "form-control", placeholder: "" %>
          </div>
          <div class="field col-3 pl-0">
            <%= form.label _("month (mm)") %>
            <%= form.text_field :dob_month, maxlength: 2, class: "form-control", placeholder: "" %>
          </div>
          <div class="field col-6 pl-0">
            <%= form.label _("year (yyyy)") %>
            <%= form.text_field :dob_year, maxlength: 4, class: "form-control", placeholder: "" %>
          </div>
        </div>
        <div class="field col-4 pl-5">
          <%= form.label :gender %>
          <%= form.radio_button :gender, 'male' %> <%= _("male") %>  <%= form.radio_button :gender, 'female' %> <%= _("female") %><br />
        </div>
      </div>
      <div class="row">
        <div class="field col-4 pl-0">
          <%= form.label :address %>
          <%= form.text_field :address, class: "form-control" %>
        </div>
        <div class="field col-4 pl-0">
          <%= form.label :city %>
          <%= form.text_field :city, class: "form-control" %>
        </div>
        <div class="field col-4 pl-0">
          <%= form.label :zip_code %>
          <%= form.text_field :zip_code, class: "form-control" %>
        </div>
      </div>
      
      <div class="row pt-3">
        <%= form.submit _("Register"), :class => "btn btn-success btn-lg" %>
      </div>
      <% end %>
    </div>
</div>
