<h1>Client's Report</h1>

<%= form_tag order_report_client_report_path, :method => 'get' do %>
    <p>Search for One:   
      <%= text_field_tag :search, params[:search], placeholder: "ID, name etc." %>
    <p>Search for Multiple:
      <% options = Client.all.collect{ |u| [u.name, u.id] } %>
        <% options = [["Select All", nil]] + options %>
      <%= select_tag 'client_select[]', options_for_select(options, params[:client_select]), :multiple => :multiple, :class => "chosen-select"%>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= sortable "client_id" %></th>
      <th><%= sortable "clients_name" %></th>
      <th><%= sortable "total_money_spent" %></th>
      <th><%= sortable "number_of_orders" %></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @client_report.each do |client| %>
     <tr>
       <td><%= client["client_id"] %></td>
       <td><%= client["clients_name"] %></td>
       <td><%= client["total_money_spent"] %></td>
       <td><%= client["number_of_orders"] %></td>
     </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $(".chosen-select").chosen({
  no_results_text: "Oops, nothing found!"
  })
</script>
<%= link_to 'Back', orders_path %>