<form>
  <div class="jumbomax container jumbotron m-0 p-0">
    <div>
      <h1 class="ml-2"><%= _("Client's Report") %></h1>

      <%= form_tag client_report_path, :method => 'get' do %>
        <div class="ml-4"> 
          <div class="row mt-3">
            <div class="field col-4 p-0"> 
              <%= text_field_tag :search, params[:search], placeholder: _("ID, name etc."), class: "form-control searcheight" %>
            </div>
            
            <div class="col-4 p-0">
              <% options = Client.all.collect{ |u| [u.name, u.id] } %>
                <% options = [[_("Select All"), nil]] + options %>
              <%= select_tag 'client_select[]', options_for_select(options, params[:client_select]), :multiple => :multiple, :size => 10, :id => "choices-multiple-remove-button", :placeholder => _("Select clients") %>
            </div>
            
            <div class="field mb-3 col-3 p-0">
              <%= submit_tag _("Search"), :name => nil, :class => "btn btn-outline-primary searcheight" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
      <hr>
  </div>
</form>

<table class="table" style="width: 90%">
  <thead>
    <tr class="active">
      <th><%= sortable "client_id", _("CLIENTS ID") %></th>
      <th><%= sortable "clients_name", _("NAME") %></th>
      <th><%= sortable "total_money_spent", _("TOTAL MONEY SPENT") %></th>
      <th><%= sortable "number_of_orders", _("NUMBER OF ORDERS") %></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @client_report.each do |client| %>
     <tr>
       <td><%= client["client_id"] %></td>
       <td><%= client["clients_name"] %></td>
       <td>&#8381 <%= client["total_money_spent"] %></td>
       <td><%= client["number_of_orders"] %></td>
     </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $(document).ready(function(){

      var multipleCancelButton = new Choices('#choices-multiple-remove-button', {
      removeItemButton: true,
      maxItemCount:10,
      searchResultLimit:100,
      renderChoiceLimit:10
      });
  });
</script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
<script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>