<h1>Client's Report</h1>
<p>Here you can find things like:
Who are your big clients?</p>
  
<%= form_tag order_report_client_report_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= sortable "client_id" %></th>
      <th><%= sortable "clients_name" %></th>
      <th><%= sortable "total_money_spent" %></th>
      <th><%= sortable "number_of_orders" %></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @client_report.each do |client| %>
     <tr>
       <td><%= client["client_id"] %></td>
       <td><%= client["clients_name"] %></td>
       <td><%= client["total_money_spent"] %></td>
       <td><%= client["number_of_orders"] %></td>
     </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', orders_path %>