<h1>Product's Report</h1>
<p>Here you can find things like:
What products are sold the most</p>
<p>What is the average price per unit</p>


<table>  
  <thead>
    <tr>
      <th><%= sortable "name", "Product's name" %></th>
      <th><%= sortable "price", "Price" %></th>
      <th><%= sortable "quantity", "Amount sold" %></th>
      <th><%= sortable "subtotal", "Amount made" %></th>
      <th><%= sortable "unit", "Avg price per unit" %></th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_report.each do |product| %>
     <tr>
       <td><%= product["product_name"] %></td>
       <td><%= product["price"] %></td>
       <td><%= product["amount_sold"] %></td>
       <td><%= product["amount_made"] %></td>
       <td><%= product["avg"] %></td>
     </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', orders_path %>
