<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>

<h1><%= _("Product's Report") %></h1>

<%= form_tag product_report_path, :method => 'get' do %>
    <p><%= _('Search for One') %>:
      <%= text_field_tag :search, params[:search], placeholder: "ID, Name etc." %>
       <%= _('Search for Multiple') %>:
      <% options = Product.all.collect{ |u| [u.product_name, u.id] } %>
        <% options = [["Select All", nil]] + options %>
      <%= select_tag 'product_select[]', options_for_select(options, params[:product_select]), :multiple => :multiple, :class => "chosen-select"%>
       <%= _('From') %>:
        <% start_date_value = 1.month.ago.strftime("%d - %m - %Y") %>
        <% end_date_value = Date.today.strftime("%d - %m - %Y") %>
        <%= text_field_tag 'start_date', params[:start_date], :class => "datepicker", :autocomplete => "off" %>
        <%= _('To') %>:
        <%= text_field_tag 'end_date', params[:end_date], :class => "datepicker", :autocomplete => "off" %>
        <%= submit_tag _("Search"), :name => nil %>        
    </p>
<% end %>

<script>
    $( function() {
      $( ".datepicker" ).datepicker({ dateFormat: 'dd-mm-yy'});
    } );
</script>

<table class="hoverTable">  
  <thead>
    <tr class="active">
      <th><%= sortable "product_id", _("PRODUCT ID") %></th>
      <th><%= sortable "product_name", _("NAME") %></th>
      <th><%= sortable "price", _("PRICE") %></th>
      <th><%= sortable "amount_sold", _("UNIT SOLD") %></th>
      <th><%= sortable "amount_made", _("TOTAL REVENUE") %></th>
      <th><%= sortable "average_unit_price", _("AVERAGE UNIT PRICE") %></th>
      <th><%= sortable "weighted_average", _("COST PER UNIT") %></th>
      <th><%= sortable "weighted_average_sale_price", _("SALE PRICE") %></th>
      <th colspan="8"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_report.each do |product| %>
     <tr>
       <td><%= product["product_id"] %></td>
       <td><%= product["product_name"] %></td>
       <td>&#8381 <%= product["price"] %></td>
       <td><%= product["amount_sold"] %></td>
       <td>&#8381 <%= product["amount_made"] %></td>
       <td>&#8381 <%= product["average_unit_price"] %></td>
       <td>&#8381 <%= product["weighted_average"] %></td>
       <td>&#8381 <%= product["weighted_average_sale_price"] %></td>
     </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">  
  $(".chosen-select").chosen({
  no_results_text: "Oops, nothing found!"
  })
</script>
