<h1>Product's Report</h1>

<%= form_tag order_report_product_report_path, :method => 'get' do %>
    <p>Search for One:
      <%= text_field_tag :search, params[:search], placeholder: "ID, Name etc." %>
    </p>
    <p>Search for Multiple:
      <% options = Product.all.collect{ |u| [u.product_name, u.id] } %>
        <% options = [["Select All", nil]] + options %>
      <%= select_tag 'product_select[]', options_for_select(options, params[:product_select]), :multiple => :multiple, :class => "chosen-select"%>
    <p>From:
        <% start_date_value = 1.month.ago.strftime("%d - %m - %Y") %>
        <% end_date_value = Date.today.strftime("%d - %m - %Y") %>
        <%= text_field_tag 'start_date', params[:start_date], :class => "datepicker", :autocomplete => "off" %>
        To:
        <%= text_field_tag 'end_date', params[:end_date], :class => "datepicker", :autocomplete => "off" %>
        <%= submit_tag "Search", :name => nil %>        
    </p>
    </p>
<% end %>

<script>
    $( function() {
      $( ".datepicker" ).datepicker({ dateFormat: 'dd-mm-yy'});
    } );
</script>

<table>  
  <thead>
    <tr>
      <th><%= sortable "product_name", "products_name" %></th>
      <th><%= sortable "price", "Price" %></th>
      <th><%= sortable "amount_sold", "amount_sold" %></th>
      <th><%= sortable "amount_made", "amount_made" %></th>
      <th><%= sortable "average_unit_price"%></th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_report.each do |product| %>
     <tr>
       <td><%= product["product_name"] %></td>
       <td><%= product["price"] %></td>
       <td><%= product["amount_sold"] %></td>
       <td><%= product["amount_made"] %></td>
       <td><%= product["average_unit_price"] %></td>
     </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">  
  $(".chosen-select").chosen({
  no_results_text: "Oops, nothing found!"
  })
</script>
<%= link_to 'Back', orders_path %>