<table>
 <thead>
  <tr>
    <th style="max-width: 6rem; width: 6rem;"><h4>Table Name</h4></th>
    <th class="align_center" style="max-width: 6rem; width: 6rem;"><h4>Read</h4></th>
    <th class="align_center" style="max-width: 6rem; width: 6rem;"><h4>Create</h4></th>
    <th class="align_center" style="max-width: 6rem; width: 6rem;"><h4>Update</h4></th>
    <th class="align_center" style="max-width: 6rem; width: 6rem;"><h4>Destroy</h4></th>
    <th class="align_center" style="max-width: 6rem; width: 6rem;"><h4>Manage</h4></th>
  </tr>
  <tbody>  
   
  <% @organized_permissions.each_with_index do |p, ind| %>
    <tr>
      <td>
        <b><%= p[0].capitalize %></b><br>
      </td>
      <td class="align_center">
        <%= check_box_tag "role[role_permissions_attributes[permissions_id[#{ind}]]]", p[1] , RolePermission.exists?(:permission_id => p[1], :role_id => params["id"].to_i), class: "d-inline-block form-control-lg" %><br>            
      </td>
      <td class="align_center">
        <%= check_box_tag "role[role_permissions_attributes[permissions_id[#{ind}]]]", p[2] , RolePermission.exists?(:permission_id => p[2], :role_id => params["id"].to_i), class: "d-inline-block form-control-lg" %> <br>               
      </td>
      <td class="align_center">
        <%= check_box_tag "role[role_permissions_attributes[permissions_id[#{ind}]]]", p[3] , RolePermission.exists?(:permission_id => p[3], :role_id => params["id"].to_i), class: "d-inline-block form-control-lg" %>  <br>              
      </td>
      <td class="align_center">
        <%= check_box_tag "role[role_permissions_attributes[permissions_id[#{ind}]]]", p[4] , RolePermission.exists?(:permission_id => p[4], :role_id => params["id"].to_i), class: "d-inline-block form-control-lg" %>  <br>              
      </td>
      <td class="align_center">
        <%= check_box_tag "role[role_permissions_attributes[permissions_id[#{ind}]]]", p[5] , RolePermission.exists?(:permission_id => p[5], :role_id => params["id"].to_i), class: "d-inline-block form-control-lg" %>   <br>             
      </td>
  </tr>
  <% end %>
  
  </tbody>
</table>



