<%= form_with(model: inventory_record, local: true)  do |form| %>
  <% if inventory_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inventory_record.errors.count, "error") %> prohibited this inventory_record from being saved:</h2>

      <ul>
      <% inventory_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h2>Add to Inventory</h2><hr>
<div  class="inventory_form">
    
        <div class="field">
          <%= form.label "Choose Source" %>
          <%= form.collection_select(:supply_product_id, SupplyProduct.all, :id, :p_o_name, {}, {class: "source"}) %>
        </div>

        <div class="field">
          <%= form.label "Product" %>
          <%= form.text_field :product_name, class: "product-name greyed_out", :readonly => true %>
        </div>        

        <div class="field">
          <%= form.label "Quantity" %>
          <%= form.text_field :purchase_quantity, class: "qt-received greyed_out", :readonly => true %>
        </div>

        <div class="field">
          <%= form.label "Purchase price" %>
          <%= form.text_field :purchase_price, class: "cost greyed_out", :readonly => true %>
        </div>

        <div class="field">
          <%= form.label "Supplier" %>
          <%= form.text_field :supplier_name, id: "supplier", class: "supplier greyed_out", :readonly => true %>
        </div>
        

        <div class="field">
        <label for="date_added">Date Added</label>
        <input type="text" class="datepicker" id="date_added" name="inventory[date_added]" 
              autocomplete = 'off' value = "<%= inventory_record.date_added.strftime("%m-%d-%Y") unless inventory_record.date_added.blank? %>"></div>

        
  <div class="actions">
    <%= form.submit %>
  </div>
</div>
<% end %>


<script type="text/javascript">

/////////////////  INVENTORY AUTO-FILL //////////////////////

$(".qt-received").css("background-color", "#777");

$(document).ready(function() {
        function updateProductInfo(){
                $.ajax({ 
                url: "supplies/product_name",
                data: { id: $(this).val() },
                type: "GET",
                success: function(data) {
                  (".qt-received").val(data["qt"]);
                  }
            });
        }
      $(document).on('change', ".source", updateProductInfo);
      $(".source").each(updateProductInfo);
  });  

//////////////////  DATE PICKER  ///////////////////// 

// $(function() {
//       var dateFormat = "mm/dd/yy",
//       //first time picker//
//             added = $( "#date_added" ).datepicker({
//               changeMonth: true, 
//               numberOfMonths: 1})
//             .on( "change", function() {
//             added.datepicker( "option", getDate( this ) );
//           }),

        
//       function getDate( element ) {
//         var date;
//         try {
//           date = $.datepicker.parseDate( dateFormat, element.value );
//         } catch( error ) {
//           //date = null;
//         }
  
//         return date;
//       }
//   });


$(".chosen-select").chosen({
  no_results_text: "Oops, nothing found!"
})

</script>


