<div class="marginRight">
    <%= form_with(model: product, local: true) do |form| %>
      <% if product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

          <ul>
          <% product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label _('Product name') %>
        <%= form.text_field :product_name, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label _('Price') %>
        <%= form.text_field :price, :class => "form-control" %>
      </div>

      <div class="field">
        <%= form.label _('Unit') %>
        <%= form.text_field :unit, class: "form-control" %>
      </div>

      <div class="actions">
        <%= form.submit 'Create Product', :class => 'text-light btn btn-primary btn-sm'%>
      </div>
    <% end %>
</div>