<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product_name %>
    <%= form.text_field :product_name, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :unit %>
    <%= form.text_field :unit, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :grams_per_unit %>
    <%= form.text_field :grams_per_unit, class: "form-control" %>
  </div>
<hr>
  <h4> Product Categories </h4>

  <div>
    <%= form.fields_for :category_product do |builder| %>
      <%= render 'category_product_fields', form: builder %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit "#{product.id.nil? ? _("Create Product") : _("Update Product")}" , :class => "btn btn-success" %>
  </div>
<% end %>
