<h1>Editing Product</h1>

<%= render 'form', product: @product %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %> |
<%= link_to 'Back To Inventories', inventories_path %> |
<%= link_to 'Back To Purchases', purchases_path %>
