<p id="notice"><%= notice %></p>

<h1>Products</h1>

<%= form_tag products_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= sortable "product_name", "Product Name" %></th>
      <th><%= sortable "price", "Price" %></th>
      <th><%= sortable "unit", "Unit" %></th>
      <th><%= sortable "units_purchased", "Units purchased" %></th>
      <th><%= sortable "units_sold", "Units sold" %></th>
      <th><%= sortable "inventory", "Units in Stock" %></th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |pi| %>
      <tr>
        <td><%= pi["product_name"] %></td>
        <td><%= pi["price"] %></td>
        <td><%= pi["unit"] %></td>        
        <td><%= pi["units_purchased"] %></td>  
        <td><%= pi["units_sold"] %></td>
        <td><%= pi["inventory"] %></td>
        <td><%= link_to "Show", "/products/#{pi["id"]}" %></td>
        <td><%= link_to "Edit", "/products/#{pi["id"]}/edit" %></td>
        <td><%= link_to "Delete", "/products/#{pi["id"]}", method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
        
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>




