<p id="notice"><%= notice %></p>

<h1>Products</h1>


  <%= form_tag products_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>

<table>
  <thead>
    <tr>
      <th><%= sortable "id", "ID" %></th>
      <th><%= sortable "product_name", "NAME" %></th>
      <th><%= sortable "price", "PRICE" %></th>
      <th><%= sortable "unit", "UNIT" %></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.product_name %></td>
        <td><%= product.price %></td>
        <td><%= product.unit %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
