<p id="notice"><%= notice %></p>

<h1>Products</h1><hr>


<%= link_to '+ New Product', new_product_path, :class => 'button big_button green' %>
<%= link_to 'Export as CSV', products_path(format: :csv), class: "small button" %>
<%= link_to 'Import from File', new_products_import_path, class: "small button" %>



<%= form_tag products_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table>
  <thead>
    <tr>
    <th class="align_left"><%= sortable "id", "Id" %></th>
      <th class="align_left"><%= sortable "product_name", "Product Name" %></th>
      <th class="align_right"><%= sortable "price", "Sale price" %></th>
      <th class="align_right"><%= sortable "grams_per_unit", "Grams per unit" %></th>
      <th><%= sortable "unit", "Unit" %></th>      
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |pi| %>
      <tr>
        <td><%= pi["id"] %></td>
        <td><%= pi["product_name"] %></td>
        <td class="align_right"><%= pi["price"] %></td>
        <td class="align_right"><%= pi["grams_per_unit"] %>g</td>
        <td><%= pi["unit"] %></td>
        <td><%= link_to "Show", "/products/#{pi["id"]}", class: "show" %></td>
        <td><%= link_to "Edit", "/products/#{pi["id"]}/edit", class: "edit" %></td>
        <td><%= link_to "Delete", "/products/#{pi["id"]}", method: :delete, data: { confirm: 'Are you sure?' }, class: "destroy" %></td>

      </tr>
    <% end %>
        
  </tbody>
</table>

<br>





