<p id="notice"><%= notice %></p>

<h1><%= _("Products") %></h1>


<div class="ml-3">
  <%= link_to _('+ New Product'), new_product_path, :class => 'btn btn-secondary mr-1 mb-3' %>
  <%= link_to _('<i class="fa-solid fa-download"></i> Export as Excel').html_safe , products_path(format: :xlsx), class: "btn btn-primary mr-1 mb-3" %>
  <%= link_to _('<i class="fa-solid fa-file-import"></i> Import from Excel').html_safe , new_products_import_path, class: "btn btn-primary mr-1 mb-3" %>
</div>

<div class="">
  <%= form_tag products_path, :method => 'get' do %>
    <div class="input-group input-group-sm mb-3  col-10 col-xl-5 col-lg-6 col-md-7 col-sm-10">
      <%= text_field_tag :search, params[:search], class: 'form-control' %>
        <div class="input-group-append">
          <%= button_tag(type: "submit", class: "btn btn-warning") do %>
          <%= _("Search") %> <i class="fa-solid fa-magnifying-glass"></i>
          <% end %>
        </div>
    </div> 
  <% end %>
</div>

<table>
  <thead>
    <tr>
    <th class="align_left col-1"><%= sortable "id", _("Id") %></th>
      <th class="align_left col-2"><%= sortable "product_name", _("Product Name") %></th>
      <th class="col-1"><%= sortable "product_code", _("Product Code") %></th>
      <th class="align_right col-1"><%= sortable "price", _("Sale price") %></th>
      <th class="col-1"><%= sortable "pv", _("PV") %></th>
      <th class="align_right col-1"><%= sortable "grams_per_unit", _("Grams per unit") %></th>      
      <th class="col-1"><%= sortable "unit", _("Unit") %></th>
      <th class="col-2"><%= _("Categories") %></th>
      <th></th>
      
    </tr>
  </thead>

  <tbody>
    <% @products.each do |pi| %>
      <tr>
        <td class="col-1"><%= pi["id"] %></td>
        <td class="col-2"><%= pi["product_name"] %></td>
        <td class="col-1"><%= pi["product_code"] %></td>
        <td class="align_right col-1"><%= number_with_precision(pi["price"], :precision => 2 ) %></td>        
        <td class="col-1"><%= number_with_precision(pi["pv"], :precision => 0,  delimiter: ' ') %></td>   
        <td class="align_right col-1"> <%= number_with_precision(pi["grams_per_unit"], :precision => 0, delimiter: ' ') %>g </td>
        <td class="col-1"><%= pi["unit"] %></td>
        <td class="col-2">
        <%= category_names = []
            pi.product_categories.each do |pc| 
              category_names.push(pc.category_name) 
            end               
          category_names.join(', ') %>
        </td>        
        <td class="col-1">
          <%= link_to '<i class="fa-solid fa-pencil"></i>'.html_safe,  edit_product_path(pi), class: "text-secondary m-2" %>
          <%= link_to '<i class="fa-solid fa-trash-can"></i>'.html_safe, pi, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-danger m-2" %>
        </td>        
      </tr>
    <% end %>        
  </tbody>
</table>







