<div class="marginRight">
    <%= form_with(model: supplier, local: true) do |form| %>
      <% if supplier.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(supplier.errors.count, "error") %> prohibited this supplier from being saved:</h2>

          <ul>
          <% supplier.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label _('Suppliers name') %>
        <%= form.text_field :suppliers_name, :class => "form-control" %>
      </div>

      <div class="field">
        <%= form.label _('City') %>
        <%= form.text_field :city, :class => "form-control" %>
      </div>

      <div class="field">
        <%= form.label _('Country') %>
        <%= form.text_field :country, :class => "form-control" %>
      </div>

      <div class="field">
        <%= form.label _('Address') %>
        <%= form.text_field :address, :class => "form-control" %>
      </div>

      <div class="field">
        <%= form.label _('Supply product') %>
        <%= form.number_field :supply_product_id, :class => "form-control" %>
      </div>

      <div class="field">
        <%= form.label _('Phone number') %>
        <%= form.number_field :phone_number, :class => "form-control" %>
      </div>

      <div class="actions">
        <%= form.submit "#{supplier.id.nil? ? "Create" : "Update"} Supplier", :class => 'text-light btn btn-primary' %>
      </div>
    <% end %>
</div>
