<p id="notice"><%= notice %></p>

<h1>Suppliers</h1>

<table>
  <thead>
    <tr>
      <th>Supplier name</th>
      <th>Address</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.supplier_name %></td>
        <td><%= supplier.address %></td>
        <td><%= supplier.phone %></td>
        <td><%= link_to 'Show', supplier, class: "show" %></td>
        <td><%= link_to 'Edit', edit_supplier_path(supplier), class: "edit" %></td>
        <td><%= link_to 'Destroy', supplier, method: :delete, data: { confirm: 'Are you sure?' }, class: "destroy" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Supplier', new_supplier_path %>
