<p id="notice"><%= notice %></p>

<h1><%= _('Suppliers') %></h1>

  <%= form_tag suppliers_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag _("Search"), :name => nil %>
    </p>
  <% end %>

<table class="hoverTable">
  <thead>
    <tr class="active">
      <th><%= sortable "id", _("ID") %></th>
      <th><%= sortable "suppliers_name", _("NAME") %></th>
      <th><%= sortable "city", _("CITY") %></th>
      <th><%= sortable "country", _("COUNTRY") %></th>
      <th><%= sortable "address", _("ADDRESS") %></th>
      <th><%= sortable _("phone_number") %></th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.id %></td>
        <td><%= supplier.suppliers_name %></td>        
        <td><%= supplier.city %></td>
        <td><%= supplier.country %></td>
        <td><%= supplier.address %></td>
        <td><%= supplier.phone_number %></td>
        <td><%= link_to _('Show'), supplier, class: "button" %></td>
        <td><%= link_to _('Edit'), edit_supplier_path(supplier), class: "buttonb" %></td>
        <td><%= link_to _('Destroy'), supplier, method: :delete, data: { confirm: 'Are you sure?' }, class: "buttonc" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to _('New Supplier'), new_supplier_path %>
