<p id="notice"><%= notice %></p>

<p>
  <strong><%= _("Supplier name:") %></strong>
  <%= @supplier.supplier_name %>
</p>

<p>
  <strong><%= _("Address:") %></strong>
  <%= @supplier.address %>
</p>

<p>
  <strong><%= _("Phone:") %></strong>
  <%= @supplier.phone %>
</p>

<%= link_to _('Edit'), edit_supplier_path(@supplier) %> |
<%= link_to _('Back'), suppliers_path %>
