<p id="notice"><%= notice %></p>

<p>
  <strong><%= _("Supplier name:") %></strong>
  <%= @supplier.supplier_name %>
</p>

<p>
  <strong><%= _("Address:") %></strong>
  <%= @supplier.address %>
</p>

<p>
  <strong><%= _("Phone:") %></strong>
  <%= @supplier.phone %>
</p>

<%= link_to _('<i class="fa-solid fa-chevron-left"></i> Go back'), suppliers_path, :class => "btn btn-primary mt-3" %>

