<p id="notice"><%= notice %></p>

<h1>Client Purchase Report</h1>

<%= form_tag reports_client_report_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table>
  <thead>
    <tr>
    <th class="align_left"><%= sortable "client_id", "Id" %></th>
    <th class="align_left"><%= sortable "name", "Client Name" %></th>
    <th><%= sortable "orders_placed", "Orders Placed" %></th>
    <th><%= sortable "total_spent", "Total Spent" %></th>
    <th><%= sortable "avg_spent", "Avg. Spent" %></th>
    <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @client_reports.each do |c_report| %> 
      <tr>     
        <td><%= c_report["client_id"] %></td>
        <td ><%= c_report["name"] %></td>
        <td class="align_center"><%= c_report["orders_placed"] %></td>
        <td class="align_right"><%= c_report["total_spent"] %></td>
        <td class="align_right"><%= c_report["avg_spent"] %></td>
      </tr>
      <% end %>
  </tbody>
</table>