

<p id="notice"><%= notice %></p>

<h1>Client Purchase Report</h1><hr>

<%= form_tag reports_client_report_path, :method => 'get' do %>
  
  <%= text_field_tag :search, params[:search] %>
  and
  <% options = Client.all.collect{ |c| [c.name, c.id] } %>
  <% options = [["Show All", nil]] + options %>
  <%= select_tag 'client_select[]', options_for_select(options, params[:client_select]), :multiple => :multiple, :size => 10, :class => "chosen-select" %>
  <br><br>

  From: <input type="text" class="datepicker" id="from" name="from_date" 
              autocomplete = 'off' value = "<%= params[:from_date] %>">
      to: <input type="text" class="datepicker" id="to" name="to_date" 
              autocomplete = 'off' value = "<%= params[:to_date] %>">

  <%= submit_tag "Search", :name => nil %>
  <% end %><br><br>  

<table>
  <thead>
    <tr>
    <th class="align_left"><%= sortable "client_id", _("Id") %></th>
    <th class="align_left"><%= sortable "name", _("Client Name") %></th>
    <th><%= sortable "orders_placed", _("Orders Placed") %></th>
    <th><%= sortable "total_spent", _("Total Spent") %></th>
    <th><%= sortable "avg_spent", _("Avg. Spent") %></th>
    <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @client_reports.each do |c_report| %> 
      <tr>     
        <td><%= c_report["client_id"] %></td>
        <td><%= c_report["name"] %></td>
        <td class="align_center"><%= c_report["orders_placed"] %></td>
        <td class="align_right"><%= c_report["total_spent"] %></td>
        <td class="align_right"><%= c_report["avg_spent"] %></td>
      </tr>
      <% end %>
  </tbody>
</table>

<script type="text/javascript">

  $( function() {
      var dateFormat = "mm/dd/yy",
            from = $( "#from" ).datepicker({
            changeMonth: true,
            numberOfMonths: 1
          })
          .on( "change", function() {
            to.datepicker( "option", "minDate", getDate( this ) );
          }),
        to = $( "#to" ).datepicker({
          changeMonth: true,
          numberOfMonths: 1
        })
        .on( "change", function() {
          from.datepicker( "option", "maxDate", getDate( this ) );
        });
  
      function getDate( element ) {
        var date;
        try {
          date = $.datepicker.parseDate( dateFormat, element.value );
        } catch( error ) {
          date = null;
        }
  
        return date;
      }
    } );

$(".chosen-select").chosen({
  no_results_text: "Oops, nothing found!"
})

</script>
