

<p id="notice"><%= notice %></p>

<h1>Client Purchase Report</h1>

<%= form_tag reports_client_report_path, :method => 'get' do %>
  
    <%= text_field_tag :search, params[:search] %>
  
  or

  <% options = Client.all.collect{ |u| [u.name, u.id] } %>
  <% options = [["Show All", nil]] + options %>
  <%= select_tag 'client_select[]', options_for_select(options, params[:client_select]), :multiple => :multiple, :size => 10, :class => "chosen-select" %>

  <%= submit_tag "Search", :name => nil %>
  <% end %><br><br>  

<table>
  <thead>
    <tr>
    <th class="align_left"><%= sortable "client_id", "Id" %></th>
    <th class="align_left"><%= sortable "name", "Client Name" %></th>
    <th><%= sortable "orders_placed", "Orders Placed" %></th>
    <th><%= sortable "total_spent", "Total Spent" %></th>
    <th><%= sortable "avg_spent", "Avg. Spent" %></th>
    <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @client_reports.each do |c_report| %> 
      <tr>     
        <td><%= c_report["client_id"] %></td>
        <td><%= c_report["name"] %></td>
        <td class="align_center"><%= c_report["orders_placed"] %></td>
        <td class="align_right"><%= c_report["total_spent"] %></td>
        <td class="align_right"><%= c_report["avg_spent"] %></td>
      </tr>
      <% end %>
  </tbody>
</table>

<script type="text/javascript">

$(".chosen-select").chosen({
  no_results_text: "Oops, nothing found!"
})

</script>
