<p id="notice"><%= notice %></p>

<h1>Client Purchase Report</h1>

<table>
  <thead>
    <tr>
    <th><%= sortable "client_id", "Id" %></th>
    <th><%= sortable "name", "Client Name" %></th>
    <th><%= sortable "orders_placed", "Orders Placed" %></th>
    <th><%= sortable "total_spent", "Total Spent" %></th>
    <th><%= sortable "avg_spent", "Avg. Spent" %></th>
    <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @client_reports.each do |c_report| %> 
      <tr>     
        <td><%= c_report["client_id"] %></td>
        <td><%= c_report["name"] %></td>
        <td><%= c_report["orders_placed"] %></td>
        <td><%= c_report["total_spent"] %></td>
        <td><%= c_report["avg_spent"] %></td>
      </tr>
      <% end %>
  </tbody>
</table>