<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
<script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>

<p id="notice"><%= notice %></p>

<h1><%= _('Inventory Report') %></h1>

<%# keyword and product-selector %>


<%= form_tag inventory_report_path, :method => 'get', :class => "form-group" do %>  
  <div class="w-100 d-inline-block mb-5">
    <div class="d-inline-flex w-50 px-0 mb-4 h-auto">
      <div class="col-3 px-0">
        <%= text_field_tag :search, params[:search], :placeholder => _("enter keyword(s)"), :class => "form-control pl-2 pr-0 keyword" %>         
      </div>      
        <div class="col pr-0">      
          <% options = Product.all.collect{ |p| [p.product_name, p.id] } %>
          <% options = [["Show All", nil]] + options %>
          <%= select_tag 'product_select[]', options_for_select(options, params[:product_select]), :multiple => :multiple, :size => 10, :id => "choices-multiple-remove-button", :placeholder => _("select products") %>    
        </div>
    </div>

    <div class="w-50 d-inline-flex pl-0 mb-4" style="height: 2.5rem;">
      <div class="input-group-prepend input-group rounded-left">

        <span class="input-group-text justify-content-center col">
          <%= _("from:") %> <input type="text" class="datepicker pl-2" id="from" name="from_date" 
                  autocomplete = 'off' value = "<%= params[:from_date] %>">
        </span>

        <span class="input-group-text justify-content-center col">
          <%= _("to:") %> <input type="text" class="datepicker pl-2" id="to" name="to_date" 
                  autocomplete = 'off' value = "<%= params[:to_date] %>">
        </span>

        <div class="input-group-append">
          <%= button_tag(type: "submit", class: "btn btn-warning") do %>
            <%= _("Search") %> <i class="fa-solid fa-magnifying-glass"></i>
          <% end %>
        </div>
      </div>
      
      
    </div>
  </div>
<% end %>

<table>
  <thead>
    <tr>
    <th align="left"><%= sortable "product_id", _("Id") %></th>
    <th align="left"><%= sortable "product_name", _("Product Name") %></th>
    <th align="right"><%= sortable "weighted_cost_per_unit", _("Weighted CPU") %></th>
    <th align="right"><%= sortable "current_inventory", _("Units in Stock") %></th>
    <th><%= sortable "unit", _("Units") %></th>
    <th colspan="4"></th>
    </tr>
  </thead>

 <tbody>
    <% @inventory_summaries.each do |is| %> 
      <tr>     
        <td><%= is["product_id"] %></td>
        <td><%= is["product_name"] %></td>
         <td align="right"><%= number_with_precision(is["weighted_cost_per_unit"], precision: 2, delimiter: ' ') %></td>
        <td align="right"><%= number_with_precision(is["current_inventory"], precision: 2, delimiter: ' ') %></td>
        <td><%= is["unit"] %></td>
      </tr>
      <% end %>
  </tbody>
 
 </table> 

 
    

<script type="text/javascript">

$(document).ready(function(){

  var multipleCancelButton = new Choices('#choices-multiple-remove-button', {
  removeItemButton: true,
  maxItemCount:10,
  searchResultLimit:100,
  renderChoiceLimit:10
  });
});

  $( function() {
    var dateFormat = "mm/dd/yy",
          from = $( "#from" ).datepicker({
          changeMonth: true,
          numberOfMonths: 1
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#to" ).datepicker({
        changeMonth: true,
        numberOfMonths: 1
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });
 
    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }
 
      return date;
    }
  } );

</script>