<p id="notice"><%= notice %></p>

<h1><%= _('Inventory Report') %></h1>

<%= form_tag reports_inventory_report_path, :method => 'get' do %>
  
  <%= text_field_tag :search, params[:search] %> 
  <%= _("AND") %>
  <% options = Product.all.collect{ |p| [p.product_name, p.id] } %>
  <% options = [["Show All", nil]] + options %>
  <%= select_tag 'product_select[]', options_for_select(options, params[:product_select]), :multiple => :multiple, :size => 10, :class => "chosen-select" %>
  <br><br>

      <%= _("From:") %> <input type="text" class="datepicker" id="from" name="from_date" 
              autocomplete = 'off' value = "<%= params[:from_date] %>">
      <%= _("to:") %> <input type="text" class="datepicker" id="to" name="to_date" 
              autocomplete = 'off' value = "<%= params[:to_date] %>">

  <%= button_tag(type: "submit", class: "btn btn-warning btn-small") do %>
    Search <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>
<% end %>

<br>

<table>
  <thead>
    <tr>
    <th align="left"><%= sortable "product_id", _("Id") %></th>
    <th align="left"><%= sortable "product_name", _("Product Name") %></th>
    <th align="right"><%= sortable "weighted_cost_per_unit", _("Weighted CPU") %></th>
    <th align="right"><%= sortable "current_inventory", _("Units in Stock") %></th>
    <th><%= sortable "unit", _("Units") %></th>
    <th colspan="4"></th>
    </tr>
  </thead>

 <tbody>
    <% @inventory_summaries.each do |is| %> 
      <tr>     
        <td><%= is["product_id"] %></td>
        <td><%= is["product_name"] %></td>
         <td align="right"><%= number_with_precision(is["weighted_cost_per_unit"], precision: 2, delimiter: ' ') %></td>
        <td align="right"><%= number_with_precision(is["current_inventory"], precision: 2, delimiter: ' ') %></td>
        <td><%= is["unit"] %></td>
      </tr>
      <% end %>
  </tbody>
 
 </table> 

 <script type="text/javascript">


  $( function() {
    var dateFormat = "mm/dd/yy",
          from = $( "#from" ).datepicker({
          changeMonth: true,
          numberOfMonths: 1
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#to" ).datepicker({
        changeMonth: true,
        numberOfMonths: 1
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });
 
    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }
 
      return date;
    }
  } );


$(".chosen-select").chosen({
  no_results_text: "Oops, nothing found!"
})

</script>