<p id="notice"><%= notice %></p>

<h1>Product Sales Report</h1>

<table>
  <thead>
    <tr>
    <th><%= sortable "product_id", "Id" %></th>
    <th><%= sortable "units_sold", "Units Sold" %></th>
    <th><%= sortable "total_revenue", "Total Revenue" %></th>
    <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_reports.each do |p_report| %> 
      <tr>     
        <td><%= p_report["product_id"] %></td>
        <td><%= p_report["units_sold"] %></td>
        <td><%= p_report["total_revenue"] %></td>
      </tr>
      <% end %>
  </tbody>
</table>