<p id="notice"><%= notice %></p>

<h1>Product Sales Report</h1>

<%= form_tag reports_product_report_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :product_name => nil %>
  </p>
<% end %>

<table>
  <thead>
    <tr>
    <th class="align_left"><%= sortable "product_id", "Id" %></th>
    <th class="align_left"><%= sortable "product_name", "Product Name" %></th>
    <th class="align_right"><%= sortable "units_sold", "Units Sold" %></th>
    <th class="align_left"><%= sortable "unit", "Unit" %></th>
    <th><%= sortable "total_revenue", "Total Revenue" %></th>
    <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_reports.each do |p_report| %> 
      <tr>     
        <td><%= p_report["product_id"] %></td>
        <td><%= p_report["product_name"] %></td>
        <td class="align_right"><%= p_report["units_sold"] %></td>
        <td><%= p_report["unit"] %></td>
        <td class="align_right"><%= p_report["total_revenue"] %></td>
      </tr>
      <% end %>
  </tbody>
</table>