<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
<script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>

<p id="notice"><%= notice %></p>

<h1><%= _('Purchase Report') %></h1>

<%# keyword and product-selector %>
<%= form_tag reports_purchase_report_path, :method => 'get', :class => "form-group" do %>
  <div class="w-100 d-inline-block mb-5">
    <div class="d-inline-flex w-50 px-0 mb-4 h-auto">
      <div class="col-3 px-0">        
        <%= text_field_tag :search, params[:search], :placeholder => _("enter keyword(s)"), :class => "form-control keyword" %> 
        
      </div>      
        <div class="col pr-0">      
          <% options = Product.all.collect{ |p| [p.product_name, p.id] } %>
          <% options = [["Show All", nil]] + options %>
          <%= select_tag 'product_select[]', options_for_select(options, params[:product_select]), :multiple => :multiple, :size => 10, :id => "choices-multiple-remove-button", :placeholder => _("select products") %>    
        </div>
      </div>

    <div class="w-50 d-inline-flex pl-0 mb-4" style="height: 2.5rem;">
      <div class="input-group-prepend input-group rounded-left">

        <span class="input-group-text justify-content-center col">
          <%= _("from:") %> <input type="text" class="datepicker pl-2" id="from" name="from_date" 
                  autocomplete = 'off' value = "<%= params[:from_date] %>">
        </span>

        <span class="input-group-text justify-content-center col">
          <%= _("to:") %> <input type="text" class="datepicker pl-2" id="to" name="to_date" 
                  autocomplete = 'off' value = "<%= params[:to_date] %>">
        </span>

        <div class="input-group-append">
          <%= button_tag(type: "submit", class: "btn btn-warning") do %>
          <%= _("Search") %> <i class="fa-solid fa-magnifying-glass"></i>
          <% end %>
        </div>
      </div>    
    </div>
  </div>  
<% end %>

<h2> <%= _("Purchase Summary") %> </h2>

<table class="col-10 col-xl-6">
  <thead>
    <tr>
      <th class="" style="max-width: 4%; width: 4%;"><%= sortable "product_id", _("Id") %></th>
      <th class="" style="max-width: 10%; width: 10%;"><%= sortable "product_name", _("Product Name") %></th>
      <th class="align_right" style="max-width: 6%; width: 6%;"><%= sortable "current_inventory", _("Units in Stock") %></th>
      <th class="" style="max-width: 8%; width: 8%;"><%= sortable "unit", _("Unit") %></th>
      <th class="align_right" style="max-width: 6%; width: 6%;"><%= sortable "cost_per_unit", _("Weighted CPU") %></th>
      <th class="align_right" style="max-width: 6%; width: 6%;"><%= sortable "current_inventory_value", _("Inventory Value") %></th>
    </tr>
  </thead>

  <tbody>
    <% @purchase_reports.each do |p_report| %> 
      <tr>     
        <td class=""><%= p_report["product_id"] %></td>
        <td class=""><%= p_report["product_name"] %></td>
        <td class="align_right "><%= p_report["current_inventory"] %></td>
        <td class="" ><%= p_report["unit"] %></td>
        <td class="align_right "><%= number_with_precision(p_report["cost_per_unit"], precision: 2, delimiter: ' ') %></td>
        <td class="align_right "><%= number_with_precision(p_report["current_inventory_value"], precision: 2, delimiter: ' ') %></td>
        </tr>
      <% end %>
  </tbody>
</table>

<hr><br>


<h2><%= _("Purchase History") %>  <small> <%= _("(itemized by product)") %> </small></h2>
<table>
  <%# <colgroup>
    <col class="bg-light">
    <col span="2" class="bg-info">
    <col span="3" class="bg-light">
    <col span="3" class="bg-info">
    <col span="3" class="bg-light">
    <col class="">
  </colgroup> %>
  <thead>
    <tr>
    <th class="align_center" style="max-width: 4%; width: 4%;"><%= sortable "purchase_order_id", _("P.O. ID") %></th> 

    <th class="" style="max-width: 17%;"><%= sortable "supplier_name", _("Supplier") %> </th>
    <th class="" style="max-width: 17%;"><%= sortable "product_name", _("Product Name") %></th>

    <th class="align_right" style="max-width: 6%; width: 6%;"><%= sortable "estimated_quantity", _("Estimated Quantity") %></th>
    <th class="align_right" style="max-width: 7%; width: 7%;"><%= sortable "estimated_cost", _("Estimated CPU") %></th>
    <th class="align_right" style="max-width: 7%; width: 7%;"><%= sortable "estimated_subtotal", _("Estimated Subtotal") %></th>

    <th class="align_right" style="max-width: 7%; width: 7%;"><%= sortable "actual_quantity", _("Actual Quantity") %></th>
    <th class="align_right" style="max-width: 7%; width: 7%;"><%= sortable "actual_cost", _("Actual CPU") %></th>
    <th class="align_right" style="max-width: 7%; width: 7%;"><%= sortable "actual_subtotal", _("Order Total") %></th>

    <th class="align_right" style="max-width: 7%; width: 7%;"><%= sortable "date_ordered", _("Order placed") %></th>
    <th class="align_right" style="max-width: 7%; width: 7%;"><%= sortable "date_expected", _("Expected delivery") %></th>
    <th class="align_right" style="max-width: 7%; width: 7%;"><%= sortable "date_received", _("Order received") %></th>

    <th style="max-width: 6%;"></th>
    </tr>
  </thead>
  <tbody>
    <% @purchase_records.each do |pr| %> 
      <tr>
        <td class="align_center"><%= pr["purchase_order_id"] %></td>

        <td class=""><%= pr["supplier_name"] %> </td>
        <td class=""><%= pr["product_name"] %></td>
      
        <td class="align_right text-muted"><%= pr["estimated_quantity"] %><%= pr["unit"] %></td>
        <td class="align_right text-muted"><%= pr["estimated_cost"] %></td>
        <td class="align_right text-muted"><%= pr["estimated_subtotal"] %></td>
      
        <td class="align_right"><%= pr["actual_quantity"] %><%= pr["unit"] %></td>
        <td class="align_right"><%= pr["actual_cost"] %></td>
        <td class="align_right"><%= pr["actual_subtotal"] %></td> 
       
        <td class="align_right"><%= if pr["date_ordered"].blank? then pr["date_ordered"] = "n/e" else pr["date_ordered"].to_date.strftime("%d %b %Y") end %></td>
        <td class="align_right"><%= if pr["date_expected"].blank? then pr["date_expected"] = "n/e" else pr["date_expected"].to_date.strftime("%d %b %Y") end %></td>
        <td class="align_right"><%= if pr["date_received"].blank? then pr["date_received"] = "n/e" else pr["date_received"].to_date.strftime("%d %b %Y") end %></td>
      
        <td class=""><%= link_to _('Go to P.O.'), edit_purchase_path(pr["purchase_order_id"]), class: "btn btn-secondary" %></div></td>        
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">

$(document).ready(function(){

  var multipleCancelButton = new Choices('#choices-multiple-remove-button', {
  removeItemButton: true,
  maxItemCount:10,
  searchResultLimit:100,
  renderChoiceLimit:10
  });
});

  $( function() {
    var dateFormat = "mm/dd/yy",
          from = $( "#from" ).datepicker({
          changeMonth: true,
          numberOfMonths: 1
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#to" ).datepicker({
        changeMonth: true,
        numberOfMonths: 1
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });
 
    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }
 
      return date;
    }
  } );  

</script>