<p id="notice"><%= notice %></p>

<h1><%= _('Purchase Report') %></h1>

<%= form_tag reports_purchase_report_path, :method => 'get' do %>
  
  <%= text_field_tag :search, params[:search] %> 
  <%= _("AND") %>
  <% options = Product.all.collect{ |p| [p.product_name, p.id] } %>
  <% options = [["Show All", nil]] + options %>
  <%= select_tag 'product_select[]', options_for_select(options, params[:product_select]), :multiple => :multiple, :size => 10, :class => "chosen-select" %>
  <br><br>

      <%= _("From:") %> <input type="text" class="datepicker" id="from" name="from_date" 
              autocomplete = 'off' value = "<%= params[:from_date] %>">
      <%= _("to:") %> <input type="text" class="datepicker" id="to" name="to_date" 
              autocomplete = 'off' value = "<%= params[:to_date] %>">

  <%= button_tag(type: "submit", class: "btn btn-warning btn-small") do %>
    Search <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>
<% end %>

<br>
<h2> Purchase Summary </h2>
<table>
  <thead>
    <tr>
    <th class="align_left"><%= sortable "product_id", _("Id") %></th>
    <th class="align_left"><%= sortable "product_name", _("Product Name") %></th>
    <th class="align_right"><%= sortable "current_inventory", _("Units in Stock") %></th>
    <th><%= sortable "unit", "Unit" %></th>
    <th class="align_right"><%= sortable "cost_per_unit", _("Weighted CPU") %></th>
    <th class="align_right"><%= sortable "current_inventory_value", _("Inventory Value") %></th>
    <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchase_reports.each do |p_report| %> 
      <tr>     
        <td><%= p_report["product_id"] %></td>
        <td><%= p_report["product_name"] %></td>
        <td class="align_right"><%= p_report["current_inventory"] %></td>
        <td><%= p_report["unit"] %></td>
        <td class="align_right"><%= number_with_precision(p_report["cost_per_unit"], precision: 2, delimiter: ' ') %></td>
        <td class="align_right"><%= number_with_precision(p_report["current_inventory_value"], precision: 2, delimiter: ' ') %></td>
        </tr>
      <% end %>
  </tbody>
</table>

<hr><br>


<h2>Purchase History <small>(itemized by product)</small></h2>
<table>
  <thead>
    <tr>
    <th><%= sortable "purchase_order_id", _("P.O.") %></th>
    <th><%= sortable "supplier_name", _("Supplier") %></th>
    <th><%= sortable "product_name", _("Product Name") %></th>
    <th><%= sortable "estimated_quantity", _("Estimated Quantity") %></th>
    <th><%= sortable "estimated_cost", _("Estimated CPU") %></th>
    <th><%= sortable "estimated_subtotal", _("Estimated Subtotal") %></th>
    <th><%= sortable "actual_quantity", _("Actual Quantity") %></th>
    <th><%= sortable "actual_cost", _("Actual CPU") %></th>
    <th><%= sortable "actual_subtotal", _("Order Total") %></th>
    <th><%= sortable "date_ordered", _("Order placed") %></th>
    <th><%= sortable "date_expected", _("Expected delivery") %></th>
    <th><%= sortable "date_received", _("Order received") %></th>
    <th colspan="5"></th>
    </tr>
  </thead>
  <tbody>
    <% @purchase_records.each do |pr| %> 
      <tr>  
        <td><%= pr["purchase_order_id"] %></td>   
        <td><%= pr["supplier_name"] %> </td>
        <td><%= pr["product_name"] %></td>
        <td class="align_right"><%= pr["estimated_quantity"] %><%= pr["unit"] %></td>
        <td class="align_right"><%= pr["estimated_cost"] %></td>
        <td class="align_right"><%= pr["estimated_subtotal"] %></td>
        <td class="align_right"><%= pr["actual_quantity"] %><%= pr["unit"] %></td>
        <td class="align_right"><%= pr["actual_cost"] %></td>
        <td class="align_right"><%= pr["actual_subtotal"] %></td> 
        <td class="align_right"><%= if pr["date_ordered"].blank? then pr["date_ordered"] = "n/e" else pr["date_ordered"].to_date.strftime("%d %b %Y") end %></td>
        <td class="align_right"><%= if pr["date_expected"].blank? then pr["date_expected"] = "n/e" else pr["date_expected"].to_date.strftime("%d %b %Y") end %></td>
        <td class="align_right"><%= if pr["date_received"].blank? then pr["date_received"] = "n/e" else pr["date_received"].to_date.strftime("%d %b %Y") end %></td>
        <td><div><%= link_to 'Go to P.O.', edit_purchase_path(pr["purchase_order_id"]), class: "blue button" %></div></td>

        
        </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">


  $( function() {
    var dateFormat = "mm/dd/yy",
          from = $( "#from" ).datepicker({
          changeMonth: true,
          numberOfMonths: 1
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#to" ).datepicker({
        changeMonth: true,
        numberOfMonths: 1
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });
 
    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }
 
      return date;
    }
  } );


$(".chosen-select").chosen({
  no_results_text: "Oops, nothing found!"
})

</script>