<!DOCTYPE html>
<html>
  <head>
    <title>P.O.S.</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
   
    <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
    <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>
 
  </head>

  <body>
  <div>

  <a href="http://localhost:3000/products" class="button big_button"> Products & Inventory </a>
  <a href="http://localhost:3000/clients" class="button big_button"> Clients </a>
  <a href="http://localhost:3000/supplies" class="button big_button"> Supplies Purchased </a>
  <a href="http://localhost:3000/orders" class="button big_button"> Orders </a>
  <a href="http://localhost:3000/reports/product_report" class="button big_button"> Product Sales Report </a>
  <a href="http://localhost:3000/reports/client_report" class="button big_button"> Client Order Report </a>
  </div>

  <div>
      <%= yield %>
  </div>
  </body>
</html>
