<!DOCTYPE html>
<html>
  <head>
    <title>P.O.S.</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
 
        <!-- Bootstraps cdn -->
        <!-- CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

        <!-- JS -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
        
        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/46cc6d555a.js" crossorigin="anonymous"></script>

        <!-- Iconify SVG framework -->
        <script src="https://code.iconify.design/2/2.2.0/iconify.min.js"></script>
        <!-- End -->       

        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>


        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
        <%= stylesheet_link_tag 'application', media: 'screen', 'data-turbolinks-track': 'reload' %>

        
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
  </head>

  <body>
      <div id="login_links">
        <div class="pb-2">
          <% if user_signed_in? %>
            Logged in as <strong><%= current_user.user_name %></strong>. 
            <%= link_to 'Edit profile', edit_user_registration_path %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                  
          <% end %>
        </div>
      </div> 

      

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    
    <a class="navbar-brand" href="#">      
      <%= Setting.first.company_name %>            
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" 
    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"> <i class="fa-solid fa-bars"></i> </span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul>
          <li class="nav-item dropdown bg-success nav">
            <a class="nav-link dropdown-toggle nav text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-bread-slice"></i> <%= _("Products") %>
            </a> 
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a href="<%= products_path %>" class="text-dark nav bg-success dropdown-item"> <%= _("Products") %>  </a> 
              <a href="<%= product_categories_path  %>" class="text-dark nav bg-success dropdown-item"> <%= _("Product Categories") %>  </a> 
            </div>                   
          </li>
          <li class="bg-success nav"><a href="<%= recipes_path %>"  class="text-dark nav"> <i class="fa-solid fa-book"></i> <%= _("Recipes") %>  </a> </li>
          <li class="bg-success nav"><a href="<%= clients_path %>"  class="text-dark nav"> <i class="fa-solid fa-user-group"></i> <%= _("Clients") %>  </a> </li>
          <li class="bg-success nav"><a href="<%= suppliers_path %>"  class="text-dark nav"> <i class="fa-solid fa-truck"></i> <%= _("Suppliers") %>  </a> </li>
          <li class="bg-secondary nav"><a href="<%= orders_path %>" class="text-dark nav"> <i class="fa-solid fa-file-lines"></i> <%= _("Orders") %>  </a> </li>
          <li class="bg-secondary nav"><a href="<%= purchases_path %>" class="text-dark nav"> <i class="fa-solid fa-basket-shopping"></i> <%= _("Purchases") %>  </a> </li>
          <li class="bg-secondary nav"><a href="<%= productions_path %>" class="text-dark nav"> <i class="fa-solid fa-gears"></i> <%= _("Production") %>  </a> </li>
          <li class="bg-secondary nav"><a href="<%= inventories_path %>" class="text-dark nav"> <i class="fa-solid fa-warehouse"></i> <%= _("Inventory") %>  </a> </li>
  
          <li class="nav-item dropdown bg-info nav">
            <a class="nav-link dropdown-toggle nav text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
             <i class="fa-solid fa-file"></i> <%= _("Reports") %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a href="<%= inventory_report_path %>" class="text-dark nav bg-info dropdown-item"> <%= _("Inventory Report") %>  </a> 
              <a href="<%= product_report_path %>" class="text-dark nav bg-info dropdown-item"> <%= _("Sales Report") %>  </a> 
              <a href="<%= purchase_report_path %>" class="text-dark nav bg-info dropdown-item"> <%= _("Purchasing Report") %> </a> 
              <a href="<%= client_report_path %>" class="text-dark nav bg-info dropdown-item"> <%= _("Client Report") %>  </a> 
            </div>
          </li> 
          <li class="nav-item dropdown bg-light nav">
            <a class="nav-link dropdown-toggle nav text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-screwdriver-wrench"></i> <%= _("Users & Settings") %>
            </a> 
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a href="<%= settings_path %>" class="text-dark nav bg-light dropdown-item"> <%= _("Settings") %>  </a> 
              <a href="<%= users_path  %>" class="text-dark nav bg-light dropdown-item"> <%= _("Users") %>  </a> 
              <a href="<%= roles_path  %>" class="text-dark nav bg-light dropdown-item"> <%= _("Roles") %>  </a>
            </div>                   
          </li>
          <div id="lang_switcher">
            <a href="https://joergs-pos.herokuapp.com/en/products" class="text-dark">English</a> | <a href="https://joergs-pos.herokuapp.com/ru/products" class="text-dark">Русски</a>
          </div>
        </ul>

      
    </div>
  </div>
</nav>
  <div id="main">      
      <%= yield %>
      <%= render "layouts/flash" %>
      
      
  </div>
  </body>
</html>
