<!DOCTYPE html>
<html>
  <head>
    <title>P.O.S.</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
   
    <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
    <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>
 
  </head>

  <body>
  <div id="navbar">
  <a href="http://localhost:3000/products" class="button nav_button"> Products </a>
  <a href="http://localhost:3000/recipes" class="button nav_button"> Recipes </a>
  <a href="http://localhost:3000/clients" class="button nav_button"> Clients </a>
  <a href="http://localhost:3000/suppliers" class="button nav_button"> Suppliers </a>
  <a href="http://localhost:3000/orders" class="button nav_button"> Orders </a>
  <a href="http://localhost:3000/purchases" class="button nav_button"> Purchases </a>
  <a href="http://localhost:3000/productions" class="button nav_button"> Production </a>
  <a href="http://localhost:3000/inventories" class="button nav_button"> Inventory </a>
  <a href="http://localhost:3000/reports/inventory_report" class="button nav_button"> Inventory Report </a>
  <a href="http://localhost:3000/reports/product_report" class="button nav_button"> Sales Report </a>
  <a href="http://localhost:3000/reports/purchase_report" class="button nav_button"> Purchasing Report</a>
  <a href="http://localhost:3000/reports/client_report" class="button nav_button"> Client Report </a>
  </div>

  <div id="main">
      <%= yield %>
  </div>
  </body>
</html>
